<ng-container *ngIf="{view: viewMode$|async} as m">
    <div class="b-indent b-indent_s_20"></div>
    <div class="b-title b-title_mod_icon">
        <h2 class="b-title__text" style="font-size:17px;">Социальные статусы:</h2>
        <a class="b-form__icon b-form__icon_mod_book" *ngIf="!m.view" (click)="addStatus()"></a>
    </div>
    <fi-table [headers]="statHeaders" wrapClass="b-table__wrap_row_3 soc-statuses-js"
              *ngIf="{sts: statuses$|async} as s">
        <tr class="b-table__row" *ngFor="let s of s.sts; let i=index">
            <td class="b-table__cell"><p class="b-table__text">{{s.statusName}}</p></td>
            <ng-container [ngSwitch]="m.view">
                <ng-container *ngSwitchCase="false">
                    <td class="b-table__cell b-table__cell_mod_form b-table__cell_align_center">
                        <fi-calendar [(ngModel)]="s.startDate" [nobtn]="true"></fi-calendar>
                    </td>
                    <td class="b-table__cell b-table__cell_mod_form" style="width:20%">
                        <div class="b-flex b-flex_w_100 b-flex_align_between b-flex_mod_inline b-flex_valign_center">
                            <fi-calendar [(ngModel)]="s.endDate" [nobtn]="true"></fi-calendar>
                            <a class="user-context-menu__item user-context-menu__item_mod_remove"
                               (click)="removeState(i)"></a>
                        </div>
                    </td>
                </ng-container>
                <ng-container *ngSwitchDefault>
                    <td class="b-table__cell b-table__cell_align_center">
                        <p class="b-table__text">{{s.startDate}}</p>
                    </td>
                    <td class="b-table__cell b-table__cell_align_center">
                        <p class="b-table__text">{{s.endDate}}</p>
                    </td>
                </ng-container>
            </ng-container>
        </tr>
        <tr class="b-table__row" *fiEmpty="2 - (s.sts?.length || 0)">
            <td class="b-table__cell" *fiEmpty="3">
        </tr>
    </fi-table>
    <div class="b-indent b-indent_s_30"></div>
    <div class="b-title b-title_mod_icon">
        <h2 class="b-title__text" style="font-size:17px;">Сведения об&nbsp;образовании</h2>
    </div>
    <div class="b-form">
        <label class="b-form__label">Наличие образования</label>
        <ng-select style="width:496px" [items]="edus$|async" [disabled]="m.view" [(ngModel)]="eduId"
                   (close)="addEdu()">
        </ng-select>
    </div>
    <div class="b-indent b-indent_s_10"></div>
    <fi-table [headers]="eduHeaders" wrapClass="b-table__wrap_row_3 education-js" *ngIf="{edu: educts$|async} as e">
        <tr class="b-table__row" *ngFor="let e of e.edu; let i=index">
            <td class="b-table__cell"><p class="b-table__text">{{getLabel(e.typeId, 'EDUCATION')|async}}</p></td>
            <ng-container [ngSwitch]="m.view">
                <td class="b-table__cell b-table__cell_mod_form" style="width:20%" *ngSwitchCase="false">
                    <div class="b-flex b-flex_w_100 b-flex_align_between b-flex_mod_inline b-flex_valign_center">
                        <fi-calendar [(ngModel)]="e.infoDate" [nobtn]="true"></fi-calendar>
                        <a class="user-context-menu__item user-context-menu__item_mod_remove"
                           (click)="removeEdu(i)"></a>
                    </div>
                </td>
                <td class="b-table__cell b-table__cell_align_center" *ngSwitchDefault>
                    <p class="b-table__text">{{e.infoDate}}</p>
                </td>
            </ng-container>
        </tr>
        <tr class="b-table__row" *fiEmpty="2 - (e.edu?.length || 0)">
            <td class="b-table__cell" *fiEmpty="2">
        </tr>
    </fi-table>
    <div class="b-indent b-indent_s_20"></div>
    <div class="b-title b-title_mod_icon">
        <h2 class="b-title__text b-title__text_color_black">Обучение</h2>
        <a class="b-form__icon b-form__icon_mod_book" (click)="addTrain()" *ngIf="!m.view"></a>
    </div>
    <div class="b-indent b-indent_s_5"></div>
    <fi-table [headers]="trainHeaders" wrapClass="b-table__wrap_row_3 train-js" *ngIf="{tr: trains$|async} as t">
        <tr class="b-table__row" *ngFor="let t of t.tr; let i=index">
            <ng-container [ngSwitch]="m.view">
                <ng-container *ngSwitchCase="false">
                    <td class="b-table__cell b-table__cell_mod_form" [class.b-table__cell_align_center]="!t.place">
                        <button class="b-form__input" *ngIf="t.place" (click)="setOrg(t)">{{t.place}}</button>
                        <button class="b-form__icon b-form__icon_mod_book" (click)="setOrg(t)"
                                *ngIf="!t.place"></button>
                    </td>
                    <td class="b-table__cell b-table__cell_mod_form" style="width: 20%">
                        <ng-select class="b-form__select_w_100 full-view-dd" [appendTo]="'body'"
                                   [(ngModel)]="t.kindId" [searchable]="false" [items]="kind$|async"></ng-select>
                    </td>
                    <td class="b-table__cell b-table__cell_mod_form">
                        <input class="b-form__input b-form__input_w_100" placeholder="_________" [(ngModel)]="t.course"
                               (change)="courseChanged(t)"
                               maxlength="20">
                    </td>
                    <td class="b-table__cell b-table__cell_mod_form">
                        <input class="b-form__input b-form__input_w_100" placeholder="_________" [(ngModel)]="t.beruf">
                    </td>
                    <td class="b-table__cell b-table__cell_mod_form b-table__cell_align_center">
                        <fi-calendar [nobtn]="true" [(ngModel)]="t.startDate"></fi-calendar>
                    </td>
                    <td class="b-table__cell b-table__cell_mod_form" style="width:11%">
                        <div class="b-flex b-flex_w_100 b-flex_align_between b-flex_mod_inline b-flex_valign_center">
                            <fi-calendar [nobtn]="true" [(ngModel)]="t.endDate"></fi-calendar>
                            <div class="user-context-menu" style="margin-right: 10px">
                                <div ngbDropdown class="user-context-menu__wrap" placement="bottom-right"
                                     container="body" #ctxm="ngbDropdown">
                                    <a class="user-context-menu__toggle" ngbDropdownToggle></a>
                                    <div ngbDropdownMenu class="user-context-menu__body">
                                        <a class="user-context-menu__item user-context-menu__item_mod_copy"
                                           (click)="ctxm.close(); addTrain(t)"> <span>Копировать</span></a>
                                        <a class="user-context-menu__item user-context-menu__item_mod_remove"
                                           (click)="ctxm.close(); removeTrain(i)"><span>Удалить</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </ng-container>
                <ng-container *ngSwitchDefault>
                    <td class="b-table__cell">
                        <p class="b-table__text">{{t.place}}</p>
                    </td>
                    <td class="b-table__cell">
                        <p class="b-table__text">{{getLabel(t.kindId, cls.learning)|async}}</p>
                    </td>
                    <td class="b-table__cell">
                        <p class="b-table__text">{{t.course}}</p>
                    </td>
                    <td class="b-table__cell">
                        <p class="b-table__text">{{t.beruf}}</p>
                    </td>
                    <td class="b-table__cell b-table__cell_align_center">
                        <p class="b-table__text">{{t.startDate}}</p>
                    </td>
                    <td class="b-table__cell b-table__cell_align_center">
                        <p class="b-table__text">{{t.endDate}}</p>
                    </td>
                </ng-container>
            </ng-container>
        </tr>
        <tr class="b-table__row" *fiEmpty="2 - (t.tr?.length || 0)">
            <td class="b-table__cell" *fiEmpty="6">
        </tr>
    </fi-table>
    <div class="b-indent b-indent_s_30"></div>
    <div class="b-title b-title_mod_icon">
        <h2 class="b-title__text" style="font-size:17px;">Сведения о&nbsp;работе:</h2>
        <a class="b-form__icon b-form__icon_mod_book" (click)="addJob()" *ngIf="!m.view"></a>
    </div>
    <fi-table [headers]="jobHeaders" wrapClass="b-table__wrap_row_3 job-js" *ngIf="{jb: jobs$|async} as j">
        <tr class="b-table__row" *ngFor="let j of j.jb; let i=index">
            <ng-container [ngSwitch]="m.view">
                <ng-container *ngSwitchCase="false">
                    <td class="b-table__cell b-table__cell_mod_form" style="width:30%">
                        <ng-select class="b-form__select_w_100 full-view-dd"
                                   [appendTo]="'body'"
                                   [(ngModel)]="j.place"
                                   [readonly]="false"
                                   [addTag]="true"
                                   [typeahead]="pInputs$[i]"
                                   [items]="place$[i]|async"></ng-select>
                    </td>
                    <td class="b-table__cell b-table__cell_mod_form">
                        <input class="b-form__input b-form__input_w_100" placeholder="_________"
                               [(ngModel)]="j.position">
                    </td>
                    <td class="b-table__cell b-table__cell_mod_form b-table__cell_align_center">
                        <input class="b-form__input b-form__input_w_100" placeholder="_________" [(ngModel)]="j.phone1">
                    </td>
                    <td class="b-table__cell b-table__cell_mod_form b-table__cell_align_center">
                        <input class="b-form__input b-form__input_w_100" placeholder="_________" [(ngModel)]="j.phone2">
                    </td>
                    <td class="b-table__cell b-table__cell_mod_form">
                        <input class="b-form__input b-form__input_w_100" placeholder="_________" [(ngModel)]="j.email">
                    </td>
                    <td class="b-table__cell b-table__cell_mod_form b-table__cell_align_center">
                        <fi-calendar [(ngModel)]="j.startDate" [nobtn]="true"></fi-calendar>
                    </td>
                    <td class="b-table__cell b-table__cell_mod_form" style="width:11%">
                        <div class="b-flex b-flex_w_100 b-flex_align_between b-flex_mod_inline b-flex_valign_center">
                            <fi-calendar [(ngModel)]="j.endDate" [nobtn]="true"></fi-calendar>
                            <a class="user-context-menu__item user-context-menu__item_mod_remove"
                               (click)="removeJob(i)"></a>
                        </div>
                    </td>
                </ng-container>
                <ng-container *ngSwitchDefault>
                    <td class="b-table__cell" style="width:30%">
                        <p class="b-table__text">{{j.place}}</p>
                    </td>
                    <td class="b-table__cell">
                        <p class="b-table__text">{{j.position}}</p>
                    </td>
                    <td class="b-table__cell b-table__cell_align_center">
                        <p class="b-table__text">{{j.phone1}}</p>
                    </td>
                    <td class="b-table__cell b-table__cell_align_center">
                        <p class="b-table__text">{{j.phone2}}</p>
                    </td>
                    <td class="b-table__cell">
                        <p class="b-table__text">{{j.email}}</p>
                    </td>
                    <td class="b-table__cell b-table__cell_align_center">
                        <p class="b-table__text">{{j.startDate}}</p>
                    </td>
                    <td class="b-table__cell b-table__cell_align_center">
                        <p class="b-table__text">{{j.endDate}}</p>
                    </td>
                </ng-container>
            </ng-container>
        </tr>
        <tr class="b-table__row" *fiEmpty="2 - (j.jb?.length || 0)">
            <td class="b-table__cell" *fiEmpty="7">
        </tr>
    </fi-table>
    <div class="b-indent b-indent_s_20"></div>
</ng-container>
<ng-template #fieldsErrors let-noti="notification">
    <fi-errors [errors]="noti.message"></fi-errors>
</ng-template>

