:root {
    --sidebar-menu-topic-font: normal 13px/1.3 'Arial';
    --sidebar-menu-topic-color: #888;
    --sidebar-menu-topic-background: #f4f4f4;

    --sidebar-menu-item-state-active-a-background: #f2f3fb;

    --sidebar-menu-item-a-font: normal 13px/18px 'Arial';
    --sidebar-menu-item-a-padding: 9px 7px 5px 7px;
    --sidebar-menu-item-a-color: #000;

    --sidebar-menu-item-a-href-hover-background: #f2f3fb;
}

:root[theme='visually_impaired_1'] {
    --sidebar-menu-topic-font: bold 15px/1.2 Arial;
    --sidebar-menu-topic-color: #000;
    --sidebar-menu-topic-background: #f4f4f4;

    --sidebar-menu-item-background-color: #fff;

    --sidebar-menu-item-state-active-a-background: #e1e9ff;
    --sidebar-menu-item-state-active-a-font-weight: bold !important;
    --sidebar-menu-item-state-active-a-before-content: "• ";

    --sidebar-menu-item-a-font: normal 15px/25px Arial;
    --sidebar-menu-item-a-padding: 12px 9px 12px 9px;
    --sidebar-menu-item-a-color: #000;

    --sidebar-menu-item-a-href-hover-background: #f2f3fb;
    --sidebar-menu-item-a-href-hover-text-decoration: underline;
}

:root[theme='visually_impaired_2'] {
    --sidebar-menu-topic-font: bold 15px/1.2 Arial;
    --sidebar-menu-topic-color: #fff;
    --sidebar-menu-topic-background: #181818;

    --sidebar-menu-item-background-color: #000;

    --sidebar-menu-item-state-active-a-background: #444444;
    --sidebar-menu-item-state-active-a-font-weight: bold !important;
    --sidebar-menu-item-state-active-a-before-content: "• ";

    --sidebar-menu-item-a-font: normal 15px/25px Arial;
    --sidebar-menu-item-a-padding: 12px 9px 12px 9px;
    --sidebar-menu-item-a-color: #fff;

    --sidebar-menu-item-a-href-hover-background: #444444;
    --sidebar-menu-item-a-href-hover-text-decoration: underline;
}

.sidebar-menu {
    margin: 0;

    &__body + &__body {
        margin-top: 44px;
    }

    &__topic {
        font: var(--sidebar-menu-topic-font);

        display: inline-block;

        margin: 0;
        padding: 11px 20px 10px 15px;

        color: var(--sidebar-menu-topic-color);
        border: 1px solid #c4c4c4;
        border-bottom: 0;
        border-radius: 2px 2px 0 0;
        background: var(--sidebar-menu-topic-background);
    }

    &__list {
        margin: 0;
        padding: 0;

        list-style: none;

        border: 1px solid #c4c4c4;
    }

    &__item {
        border-top: 1px solid #c4c4c4;
        background-color: var(--sidebar-menu-topic-background);

        &:first-child {
            border: none;
        }

        &_state {
            &_active {
                & a {
                    background: var(--sidebar-menu-item-state-active-a-background);
                    font-weight: var(--sidebar-menu-item-state-active-a-font-weight);
                    &:before {
                        content: var(--sidebar-menu-item-state-active-a-before-content);
                    }
                }
            }
        }

        & a {
            font: var(--sidebar-menu-item-a-font);

            display: block;

            padding: var(--sidebar-menu-item-a-padding);

            text-decoration: none;

            color: var(--sidebar-menu-item-a-color);

            &[href]:hover {
                background: var(--sidebar-menu-item-a-href-hover-background);
                text-decoration: var(--sidebar-menu-item-a-href-hover-text-decoration);
            }

            &[disabled] {
                pointer-events: none;
                cursor: default;
                background: #f2f3fb;
            }
        }
    }
}
