:root {
    --sidebar-background: #fff;
}

:root[theme='visually_impaired_1'] {
    --sidebar-background: #dedede;
}

:root[theme='visually_impaired_2'] {
    --sidebar-background: #000000;
}

.sidebar {
    height: 100%;
    padding: 16px 25px;

    background: var(--sidebar-background);
}
