<div class="basic-details" *ngIf="{view: viewMode$|async} as m">
    <div class="basic-details-requisites">
        <div class="b-title">
            <h2 class="b-title__text">Основные реквизиты:</h2>
        </div>
        <div class="basic-details-requisites__body">
            <div class="basic-details-requisites__row">
                <div class="basic-details-requisites__cell">
                    <label class="b-form__label">Фамилия*</label>
                </div>
                <div class="basic-details-requisites__cell">
                    <input class="b-form__input b-form__input_w_100 b-form__input_state_success"
                           fiMaskFio (keydown.tab)="next($event, frstn)"
                           [disabled]="m.view || what"
                           [(ngModel)]="data.lastName"
                           (change)="capitalize(data, 'lastName')">
                </div>
                <div class="basic-details-requisites__cell">
                    <label class="b-form__label">Дата рождения*</label>
                </div>
                <div class="basic-details-requisites__cell">
                    <div class="b-form">
                        <input class="b-form__input" (change)="birthDateChanged(data, $event)" style="width:100px"
                               #brthd (dateSelect)="birthDateChanged(data, $event)" [value]="data.birthDateText||''"
                               (keydown.tab)="next($event, ctzs)"
                               [disabled]="m.view || what"
                               ngbDatepicker #bdp="ngbDatepicker"
                               placeholder="    .    .    " fiMaskDate/>
                        <a class="b-form__icon b-form__icon_mod_calendar" (click)="bdp.toggle()"
                           *ngIf="!(m.view || what)"></a>
                    </div>
                </div>
                <div class="basic-details-requisites__cell basic-details-requisites__cell_align_right">
                    <label class="b-form__label">Пол</label>
                </div>
                <div class="basic-details-requisites__cell">
                    <ng-select style="width:130px" [disabled]="m.view || what" #sex
                               (keydown.tab)="next($event, inn)"
                               [(ngModel)]="data.sex"
                               (change)="sexChanged($event)"
                               [searchable]="false"
                               [clearable]="false"
                               [items]="sex$|async"></ng-select>
                </div>
            </div>
            <div class="basic-details-requisites__row">
                <div class="basic-details-requisites__cell">
                    <label class="b-form__label">Имя*</label>
                </div>
                <div class="basic-details-requisites__cell">
                    <input class="b-form__input b-form__input_w_100 b-form__input_state_success" #frstn
                           fiMaskFio (keydown.tab)="next($event, mdln)"
                           [(ngModel)]="data.firstName" [disabled]="m.view || what"
                           (change)="capitalize(data, 'firstName')">
                </div>
                <div class="basic-details-requisites__cell">
                    <label class="b-form__label">Гражданство</label>
                </div>
                <div class="basic-details-requisites__cell">
                    <div class="b-form">
                        <ng-select class="b-form__input_w_100" [disabled]="m.view || what" #ctzs
                                   (keydown.tab)="next($event, ntn)"
                                   [(ngModel)]="data.citizenshipId"
                                   [typeahead]="csInput$"
                                   [clearable]="false"
                                   [items]="citizenship$|async"></ng-select>
                    </div>
                </div>
                <div class="basic-details-requisites__cell basic-details-requisites__cell_align_right">
                    <label class="b-form__label">ИНН</label>
                </div>
                <div class="basic-details-requisites__cell">
                    <input class="b-form__input" [(ngModel)]="data.inn" [disabled]="m.view || what" style="width:113px"
                           #inn
                           maxlength="12" [fiMaskNum]="12" (keydown.tab)="next($event, snils)">
                </div>
            </div>
            <div class="basic-details-requisites__row">
                <div class="basic-details-requisites__cell">
                    <label class="b-form__label">Отчество</label>
                </div>
                <div class="basic-details-requisites__cell">
                    <input class="b-form__input b-form__input_w_100 b-form__input_state_success" #mdln
                           fiMaskFio (keydown.tab)="next($event, brthd)"
                           (ngModelChange)="middleNameChanged(data, $event)"
                           [(ngModel)]="data.middleName" [disabled]="m.view || what"
                           (change)="capitalize(data, 'middleName')">
                </div>
                <div class="basic-details-requisites__cell">
                    <label class="b-form__label">Национальность</label>
                </div>
                <div class="basic-details-requisites__cell">
                    <div class="b-form">
                        <ng-select class="b-form__input_w_100" [disabled]="m.view || what" #ntn
                                   (keydown.tab)="next($event, sex)"
                                   [(ngModel)]="data.nationalityId"
                                   [typeahead]="nInput$"
                                   [clearable]="false"
                                   [bindLabel]="sexLabel$|async"
                                   [items]="nationality$|async"></ng-select>
                    </div>
                </div>
                <div class="basic-details-requisites__cell basic-details-requisites__cell_align_right">
                    <label class="b-form__label">СНИЛС</label>
                </div>
                <div class="basic-details-requisites__cell">
                    <input class="b-form__input" [ngModel]="data.snils" [disabled]="m.view || what" style="width:130px"
                           (change)="inputChanged($event, data, 'snils')" fiMaskSnils #snils>
                </div>
            </div>
        </div>
    </div>
    <ng-container [ngSwitch]="what">
        <ng-container *ngSwitchCase="0">
            <ng-container
                    *ngTemplateOutlet="adr;context:{type: atl.Birth, address: adrss[atl.Birth]|async, copy: false}"></ng-container>
            <div class="b-indent b-indent_s_20"></div>
            <div class="b-form">
                <label class="b-form__label b-form__label_shrink_0">Адрес регистрации / фактический</label>
                <ng-select (close)="chooseAdr(sel)" [disabled]="m.view"
                           [searchable]="false" [(ngModel)]="adrTypeId"
                           [items]="adrType$|async" class="b-form__select_w_100" #sel></ng-select>
            </div>
            <div class="b-indent b-indent_s_10"></div>
            <ng-container *ngIf="data.id && {regs: regs$|async} as r; else inputAddr">
                <div class="basic-details-registration" *ngIf="r.regs.length">
                    <fi-table [headers]="regTableHeaders" wrapClass="b-table__wrap_row_3">
                        <tr class="b-table__row" *ngFor="let r of r.regs; let i = index"
                            [ngClass]="{'b-table__row_state_active': curRegIdx == i}" (click)="curRegIdx = i">
                            <td class="b-table__cell">
                                <p class="b-table__text">{{r.addressType == at.Fact ? 'Фактический адрес' : (r.regType && (r.regTypeStr || (getLabel(r.regType)|async)))}}</p>
                            </td>
                            <td class="b-table__cell">
                                <p class="b-table__text">{{ga(r.levels, r.addressText)}}</p>
                            </td>
                            <td class="b-table__cell" style="width:8%">
                                <p class="b-table__text">{{r.startDate}}</p>
                            </td>
                            <td class="b-table__cell" [class.b-table__cell_align_center]="m.view"
                                [style.width]="m.view ? '8%' : '12.3%'">
                                <p class="b-table__text" *ngIf="m.view">{{r.endDate}}</p>
                                <div class="b-flex b-flex_align_between b-flex_mod_inline b-flex_valign_center b-flex_w_100"
                                     *ngIf="!m.view">
                                    <p class="b-table__text">{{r.endDate}}</p>
                                    <div class="user-context-menu">
                                        <div ngbDropdown class="user-context-menu__wrap" placement="bottom-right"
                                             container="body" #ctxm="ngbDropdown">
                                            <a class="user-context-menu__toggle" ngbDropdownToggle></a>
                                            <div ngbDropdownMenu class="user-context-menu__body">
                                                <a class="user-context-menu__item user-context-menu__item_mod_edit"
                                                   (click)="editAdr(ctxm, r, i)"> <span>Редактировать</span></a>
                                                <a class="user-context-menu__item user-context-menu__item_mod_remove"
                                                   (click)="removeAdr(ctxm, i)"><span>Удалить</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </fi-table>
                </div>
                <ng-container *ngIf="r.regs[curRegIdx]; else noRegs">
                    <ng-container *ngIf="r.regs[curRegIdx].addressType === at.Reg; else factAdr">
                        <ng-container
                                *ngTemplateOutlet="adr;context:{type: atl.Reg, address: r.regs[curRegIdx], right: tmplr, flat: tmplf}">
                        </ng-container>
                    </ng-container>
                    <ng-template #factAdr>
                        <ng-container
                                *ngTemplateOutlet="adr;context:{type: atl.Live, address: r.regs[curRegIdx], flat: tmplf}">
                        </ng-container>
                    </ng-template>
                </ng-container>
                <ng-template #noRegs>
                    <div class="basic-details-registration">
                        <div class="b-title b-title_mod_icon">
                            <h2 class="b-title__text">{{atl.Reg}}:</h2>
                        </div>
                    </div>
                </ng-template>
                <div class="basic-details-registration" *ngIf="noFactAddress()">
                    <div class="b-title b-title_mod_icon">
                        <h2 class="b-title__text">{{atl.Live}}:</h2>
                        <button class="b-form__icon b-form__icon_mod_copy" *ngIf="!m.view" (click)="copyAddress()">
                        </button>
                    </div>
                </div>
            </ng-container>
            <div class="basic-details-registration" *ngIf="(docs$|async).length; else firstDoc">
                <div class="b-title b-title_mod_icon">
                    <h2 class="b-title__text">Документы, удостоверяющие личность:</h2>
                    <fi-doc-file [files]="files" [cur]="curDoc" [edit]="!m.view" style="margin-left:4px"></fi-doc-file>
                </div>
                <div class="b-indent b-indent_s_5"></div>
                <fi-table [headers]="docTableHeaders" wrapClass="b-table__wrap_row_3">
                    <tr class="b-table__row" *ngFor="let d of docs$|async; let i = index" (click)="curDoc = d">
                        <ng-container [ngSwitch]="m.view">
                            <ng-container *ngSwitchCase="true">
                                <td class="b-table__cell" style="width:30%"><p
                                        class="b-table__text">{{getLabel(d.typeId, dn.dt)|async}}</p></td>
                                <td class="b-table__cell"><p class="b-table__text">{{d.series}}</p></td>
                                <td class="b-table__cell">
                                    <p class="b-table__text b-table__text_align_center">{{d.number}}</p>
                                </td>
                                <td class="b-table__cell" style="width:30%">
                                    <p class="b-table__text b-table__text_align_center">{{d.whogive}}</p>
                                </td>
                                <td class="b-table__cell">
                                    <p class="b-table__text b-table__text_align_center">{{d.depCode}}</p>
                                </td>
                                <td class="b-table__cell">
                                    <p class="b-table__text b-table__text_align_center">{{d.issueDate}}</p>
                                </td>
                            </ng-container>
                            <ng-container *ngSwitchDefault>
                                <td class="b-table__cell b-table__cell_mod_form" style="width:30%">
                                    <ng-select [(ngModel)]="d.typeId"
                                               (change)="docTypeChanged($event, d, i)"
                                               [searchable]="false"
                                               [appendTo]="'body'"
                                               [items]="docTypes$|async" class="b-form__select_w_100"></ng-select>
                                </td>
                                <td class="b-table__cell b-table__cell_mod_form">
                                    <input class="b-form__input b-form__input_align_center b-form__input_w_100"
                                           [ngModel]="d.series"
                                           (change)="inputChanged($event, d, 'series')" placeholder="__"
                                           fiMaskDoc
                                           [mask]="seriesMasks[i] || (getLabel(d.typeId, dn.dt, 'series')|async)">
                                </td>
                                <td class="b-table__cell b-table__cell_mod_form">
                                    <input class="b-form__input b-form__input_align_center b-form__input_w_100"
                                           [ngModel]="d.number"
                                           (change)="inputChanged($event, d, 'number')" placeholder="__"
                                           fiMaskDoc
                                           [mask]="numberMasks[i] || (getLabel(d.typeId, dn.dt, 'number')|async)">
                                </td>
                                <td class="b-table__cell b-table__cell_mod_form" style="width:30%">
                                    <ng-select class="b-form__select_w_100"
                                               [appendTo]="'body'"
                                               [(ngModel)]="d.whogive"
                                               [readonly]="false"
                                               [addTag]="true"
                                               [typeahead]="wgInputs$[i]"
                                               [items]="whogives$[i]|async"></ng-select>
                                </td>
                                <td class="b-table__cell b-table__cell_mod_form">
                                    <input class="b-form__input b-form__input_align_center b-form__input_w_100"
                                           [ngModel]="d.depCode" placeholder="____"
                                           (change)="inputChanged($event, d, 'depCode')" fiMaskDepCode>
                                </td>
                                <td class="b-table__cell b-table__cell_mod_form b-table__cell_align_center">
                                    <fi-calendar [nobtn]="true" [(ngModel)]="d.issueDate"></fi-calendar>
                                </td>
                            </ng-container>
                        </ng-container>
                    </tr>
                </fi-table>
            </div>
        </ng-container>
        <ng-container *ngSwitchDefault>
            <div class="b-indent b-indent_s_20"></div>
            <div class="b-title b-title_mod_icon">
                <h2 class="b-title__text">Документы, удостоверяющие личность:</h2>
                <fi-doc-file [cur]="curDoc" [edit]="false" style="margin-left:4px"></fi-doc-file>
            </div>
            <div class="b-indent b-indent_s_5"></div>
            <fi-table [headers]="docTableHeaders" wrapClass="b-table__wrap_row_3">
                <tr class="b-table__row" *ngFor="let d of docs$|async; let i = index" (click)="curDoc = d">
                    <td class="b-table__cell" style="width:30%">
                        <p class="b-table__text">{{getLabel(d.typeId, dn.dt)|async}}</p>
                    </td>
                    <td class="b-table__cell"><p class="b-table__text">{{d.series}}</p></td>
                    <td class="b-table__cell">
                        <p class="b-table__text b-table__text_align_center">{{d.number}}</p>
                    </td>
                    <td class="b-table__cell" style="width:30%">
                        <p class="b-table__text b-table__text_align_center">{{d.whogive}}</p>
                    </td>
                    <td class="b-table__cell">
                        <p class="b-table__text b-table__text_align_center">{{d.depCode}}</p>
                    </td>
                    <td class="b-table__cell">
                        <p class="b-table__text b-table__text_align_center">{{d.issueDate}}</p>
                    </td>
                </tr>
                <tr class="b-table__row" *ngIf="!(docs$|async)?.length">
                    <td class="b-table__cell" style="width:30%"></td>
                    <td class="b-table__cell" *fiEmpty="2"></td>
                    <td class="b-table__cell" style="width:30%"></td>
                    <td class="b-table__cell" *fiEmpty="2"></td>
                </tr>
            </fi-table>
            <ng-container *ngIf="what == 1">
                <div class="b-indent b-indent_s_20"></div>
                <div class="b-title">
                    <h2 class="b-title__text">Изменение персональных данных</h2>
                </div>
                <div class="b-form">
                    <label class="b-form__label" style="width:60px">Фамилия*</label>
                    <div class="b-flex b-flex_mod_indent">
                        <div class="b-form">
                            <input class="b-form__input" style="width:365px"
                                   fiMaskFio (keydown.tab)="next($event, pfrstn)"
                                   [disabled]="m.view"
                                   [(ngModel)]="pd.lastName"
                                   (change)="capitalize(pd, 'lastName')">
                        </div>
                        <div class="b-form">
                            <label class="b-form__label b-form__label_align_right" style="width:92px">Дата
                                рождения*</label>
                            <input class="b-form__input" (change)="birthDateChanged(pd, $event)" style="width:100px"
                                   #pbrthd
                                   (dateSelect)="birthDateChanged(pd, $event)"
                                   [value]="pd.birthDateText ||''"
                                   (keydown.tab)="next($event, psex)"
                                   [disabled]="m.view"
                                   ngbDatepicker #pbdp="ngbDatepicker"
                                   placeholder="    .    .    " fiMaskDate/>
                            <a class="b-form__icon b-form__icon_mod_calendar" (click)="pbdp.toggle()"
                               *ngIf="!m.view"></a>
                        </div>
                    </div>
                </div>
                <div class="b-indent b-indent_s_5"></div>
                <div class="b-form">
                    <label class="b-form__label" style="width:60px">Имя*</label>
                    <div class="b-flex b-flex_mod_indent">
                        <div class="b-form">
                            <input class="b-form__input" #pfrstn
                                   fiMaskFio (keydown.tab)="next($event, pmdln)" style="width:365px"
                                   [(ngModel)]="pd.firstName" [disabled]="m.view"
                                   (change)="capitalize(pd, 'firstName')">
                        </div>
                        <div class="b-form">
                            <label class="b-form__label b-form__label_align_right" style="width:92px">Пол</label>
                            <ng-select style="width:130px" [disabled]="m.view" #psex
                                       [(ngModel)]="pd.sex" (keydown.tab)="next($event, pdoc)"
                                       (change)="sexChanged($event)"
                                       [searchable]="false"
                                       [clearable]="false"
                                       [items]="sex$|async"></ng-select>
                        </div>
                    </div>
                </div>
                <div class="b-indent b-indent_s_5"></div>
                <div class="b-form">
                    <label class="b-form__label" style="width:60px">Отчество</label>
                    <div class="b-flex b-flex_mod_indent">
                        <div class="b-form">
                            <input class="b-form__input" #pmdln
                                   fiMaskFio (keydown.tab)="next($event, pbrthd)" style="width:365px"
                                   (ngModelChange)="middleNameChanged(pd, $event)"
                                   [(ngModel)]="pd.middleName" [disabled]="m.view"
                                   (change)="capitalize(pd, 'middleName')">
                        </div>
                    </div>
                </div>
            </ng-container>
            <div class="b-indent b-indent_s_20"></div>
            <div class="b-title">
                <h2 class="b-title__text">Смена документа:</h2>
            </div>
            <div class="b-title">
                <h2 class="b-title__text">Документ:</h2>
            </div>
            <div class="b-form">
                <label class="b-form__label" style="width:60px">Документ*</label>
                <div class="b-flex b-flex_mod_indent">
                    <div class="b-form">
                        <ng-select style="width:335px" [disabled]="m.view"
                                   [(ngModel)]="doc.typeId"
                                   (change)="docTypeChanged($event, doc, 0)"
                                   [searchable]="false"
                                   [items]="docTypes$|async" #pdoc></ng-select>
                    </div>
                    <div class="b-form">
                        <label class="b-form__label">серия</label>
                        <input class="b-form__input" [ngModel]="doc.series" style="width:92px"
                               (change)="inputChanged($event, doc, 'series')"
                               [disabled]="m.view" fiMaskDoc [mask]="seriesMasks[0]">
                    </div>
                    <div class="b-form">
                        <label class="b-form__label">номер</label>
                        <input class="b-form__input" [ngModel]="doc.number" style="width:112px"
                               (change)="inputChanged($event, doc, 'number')"
                               [disabled]="m.view" fiMaskDoc [mask]="numberMasks[0]">
                    </div>
                    <div class="b-form">
                        <label class="b-form__label">дата выдачи*</label>
                        <fi-calendar [(ngModel)]="doc.issueDate" [disabled]="m.view"
                                     (keydown.tab)="next($event, pissue)"></fi-calendar>
                    </div>
                </div>
            </div>
            <div class="b-indent b-indent_s_5"></div>
            <div class="b-form">
                <label class="b-form__label b-form__label_align_right" style="width:60px">Выдан</label>
                <div class="b-flex b-flex_mod_indent">
                    <div class="b-form">
                        <ng-select style="width:615px" #pissue
                                   [disabled]="m.view" [(ngModel)]="doc.whogive" [addTag]="true"
                                   [typeahead]="wgInput$" [items]="whogive$|async">
                        </ng-select>
                    </div>
                    <div class="b-form">
                        <label class="b-form__label">Код подразделения</label>
                        <input class="b-form__input" [ngModel]="doc.depCode" style="width:72px"
                               (change)="inputChanged($event, doc, 'depCode')"
                               [disabled]="m.view" fiMaskDepCode>
                        <fi-doc-file [files]="files" [cur]="doc" [edit]="!m.view"
                                     style="margin-left:4px"></fi-doc-file>
                    </div>
                </div>
            </div>
            <div class="b-indent b-indent_s_20"></div>
        </ng-container>
    </ng-container>
    <ng-template #inputAddr>
        <ng-container
                *ngTemplateOutlet="adr;context:{type: atl.Reg, address: adrss[atl.Reg]|async, copy: false, right: tmplr, flat: tmplf}">
        </ng-container>
        <ng-container
                *ngTemplateOutlet="adr;context:{type: atl.Live, address: adrss[atl.Live]|async, copy: true, flat: tmplf}">
        </ng-container>
    </ng-template>
    <ng-template #firstDoc>
        <div class="basic-details-document">
            <div class="basic-details-document__wrap">
                <div class="b-title">
                    <h2 class="b-title__text">Документ:</h2>
                </div>
                <div class="basic-details-document__body">
                    <div class="basic-details-document__row">
                        <div class="basic-details-document__cell">
                            <div class="b-form">
                                <label class="b-form__label b-form__label_align_right"
                                       style="width:60px;">Документ</label>
                                <ng-select style="width:304px" [disabled]="m.view"
                                           [(ngModel)]="doc.typeId"
                                           (change)="docTypeChanged($event, doc, 0)"
                                           [searchable]="false"
                                           [items]="docTypes$|async"></ng-select>
                            </div>
                        </div>
                        <div class="basic-details-document__cell">
                            <div class="b-form">
                                <label class="b-form__label">серия</label>
                                <input class="b-form__input" [ngModel]="doc.series" style="width:92px"
                                       (change)="inputChanged($event, doc, 'series')"
                                       [disabled]="m.view" fiMaskDoc [mask]="seriesMasks[0]">
                            </div>
                        </div>
                        <div class="basic-details-document__cell">
                            <div class="b-form">
                                <label class="b-form__label">номер</label>
                                <input class="b-form__input" [ngModel]="doc.number" style="width:112px"
                                       (change)="inputChanged($event, doc, 'number')"
                                       [disabled]="m.view" fiMaskDoc [mask]="numberMasks[0]">
                            </div>
                        </div>
                        <div class="basic-details-document__cell">
                            <div class="b-form">
                                <label class="b-form__label">дата выдачи</label>
                                <fi-calendar [(ngModel)]="doc.issueDate" [disabled]="m.view"></fi-calendar>
                            </div>
                        </div>
                    </div>
                    <div class="basic-details-document__row">
                        <div class="basic-details-document__cell">
                            <div class="b-form">
                                <label class="b-form__label b-form__label_align_right" style="width:60px;">Выдан</label>
                                <ng-select style="width:587px"
                                           [disabled]="m.view"
                                           [(ngModel)]="doc.whogive"
                                           [addTag]="true"
                                           [typeahead]="wgInput$"
                                           [items]="whogive$|async">
                                </ng-select>
                            </div>
                        </div>
                        <div class="basic-details-document__cell">
                            <div class="b-form">
                                <label class="b-form__label">Код подразделения</label>
                                <input class="b-form__input" [ngModel]="doc.depCode" style="width:72px"
                                       (change)="inputChanged($event, doc, 'depCode')"
                                       [disabled]="m.view" fiMaskDepCode>
                                <fi-doc-file [files]="files" [cur]="doc" [edit]="!m.view"
                                             style="margin-left: 4px"></fi-doc-file>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template #adr let-type="type" let-addr="address" let-copy="copy" let-right="right" let-flat="flat">
        <div class="basic-details-registration">
            <div class="b-title b-title_mod_icon">
                <h2 class="b-title__text">{{type}}:</h2>
                <button class="b-form__icon b-form__icon_mod_copy" *ngIf="!m.view && copy"
                        (click)="copyAddress()"></button>
                <button class="b-form__icon b-form__icon_mod_book" (click)="openPlace(type, addr)"
                        *ngIf="!m.view && atl.Birth == type"></button>
            </div>
            <div class="basic-details-registration__body">
                <div class="basic-details-registration__left">
                    <div class="b-form-table">
                        <div class="b-form-table__body">
                            <div class="b-form-table__row" *ngIf="addr?.countryId || addr?.countryText">
                                <div class="b-form-table__cell">
                                    <p class="b-form-table__label">Страна</p>
                                </div>
                                <div class="b-form-table__cell" [class.disabled]="m.view">
                                    <p class="b-form-table__label b-form-table__label_norm">{{addr?.country || addr?.countryText}}</p>
                                </div>
                            </div>
                            <ng-container *ngFor="let a of addr?.levels">
                                <div class="b-form-table__row">
                                    <div class="b-form-table__cell">
                                        <p class="b-form-table__label">{{a.type}}</p>
                                    </div>
                                    <div class="b-form-table__cell" [class.disabled]="m.view">
                                        <p class="b-form-table__label b-form-table__label_norm">{{a.label}}</p>
                                    </div>
                                </div>
                                <div class="b-form-table__row" *ngIf="a.child">
                                    <div class="b-form-table__cell">
                                        <p class="b-form-table__label">{{a.child.type}}</p>
                                    </div>
                                    <div class="b-form-table__cell" [class.disabled]="m.view">
                                        <p class="b-form-table__label b-form-table__label_norm">{{a.child.label}}</p>
                                    </div>
                                </div>
                                <div class="b-form-table__row" *ngIf="a.child?.child">
                                    <div class="b-form-table__cell">
                                        <p class="b-form-table__label">{{a.child.child.type}}</p>
                                    </div>
                                    <div class="b-form-table__cell" [class.disabled]="m.view">
                                        <p class="b-form-table__label b-form-table__label_norm">{{a.child.child.label}}</p>
                                    </div>
                                </div>
                            </ng-container>
                            <div class="b-form-table__row" *ngIf="addr?.addressText">
                                <div class="b-form-table__cell">
                                    <p class="b-form-table__label">Адрес</p>
                                </div>
                                <div class="b-form-table__cell" [class.disabled]="m.view">
                                    <p class="b-form-table__label b-form-table__label_norm">{{addr?.addressText}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <ng-container *ngIf="right">
                    <ng-container *ngTemplateOutlet="right;context:{address: addr}"></ng-container>
                </ng-container>
            </div>
            <ng-container *ngIf="flat && (addr?.countryId || addr?.countryText || addr?.addressText)">
                <ng-container
                        *ngTemplateOutlet="flat;context:{address: addr}"></ng-container>
            </ng-container>
        </div>
    </ng-template>
    <ng-template #tmplr let-addr="address">
        <div class="basic-details-registration__right" *ngIf="addr">
            <div class="basic-details-registration__table">
                <div class="basic-details-registration__row">
                    <div class="basic-details-registration__cell basic-details-registration__cell_align_right">
                        <div class="b-form">
                            <label class="b-form__label">Регистрация*</label>
                        </div>
                    </div>
                    <div class="basic-details-registration__cell">
                        <ng-select style="width:196px" disabled [ngModel]="addr.regType"
                                   [items]="regTypes$|async"></ng-select>
                    </div>
                </div>
                <div class="basic-details-registration__row">
                    <div class="basic-details-registration__cell basic-details-registration__cell_align_right">
                        <div class="b-form">
                            <label class="b-form__label">Дата начала*</label>
                        </div>
                    </div>
                    <div class="basic-details-registration__cell">
                        <div class="b-form">
                            <input class="b-form__input" [value]="addr.startDate ||''"
                                   disabled style="width:82px" placeholder="    .    .    "/>
                        </div>
                    </div>
                </div>
                <div class="basic-details-registration__row">
                    <div class="basic-details-registration__cell basic-details-registration__cell_align_right">
                        <div class="b-form">
                            <label class="b-form__label">Дата окончания</label>
                        </div>
                    </div>
                    <div class="basic-details-registration__cell">
                        <div class="b-form">
                            <input class="b-form__input" [value]="addr.endDate || ''"
                                   disabled style="width:82px" placeholder="    .    .    "/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template #tmplf let-addr="address">
        <div class="basic-details-registration-flat" *ngIf="addr">
            <div class="basic-details-registration-flat__body">
                <div class="basic-details-registration-flat__item">
                    <div class="b-form">
                        <label class="b-form__label">Квартир (а, ы)</label>
                        <input class="b-form__input" [value]="addr.flat||''" style="width:80px" disabled>
                    </div>
                </div>
                <div class="basic-details-registration-flat__item">
                    <div class="b-form">
                        <label class="b-form__label">Комнат (а, ы)</label>
                        <input class="b-form__input" [value]="addr.room" style="width:80px" disabled>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</div>
<ng-template #fieldsErrors let-noti="notification">
    <fi-errors [errors]="noti.message"></fi-errors>
</ng-template>
