<div class="content-grid">
    <div class="content-grid__content">
        <div class="b-topic" *ngIf="!notitle">
            <p class="b-topic__text" [innerHTML]="title$|async"></p>
        </div>
        <div class="content-grid__wrap">
            <router-outlet (activate)="activate.emit($event)"></router-outlet>
        </div>
    </div>
    <div class="content-grid__sidebar">
        <div class="sidebar" [class.sidebar_upbtn]="upbtn">
            <div class="sidebar-menu" *ngIf="{v: view$|async} as s">
                <div [class.sidebar-menu__body]="!!m" *ngFor="let m of menus; let i = index">
                    <p class="sidebar-menu__topic" [innerHTML]="m.title" *ngIf="m?.title"></p>
                    <ul class="sidebar-menu__list" *ngIf="m?.actions">
                        <li class="sidebar-menu__item" [ngClass]="currentCls(l.url, l.default, l.fragment)"
                            *ngFor="let l of m.actions">
                            <ng-container [ngSwitch]="i">
                                <ng-container *ngSwitchCase="0">
                                    <a [routerLink]="getLink(l.withoutId ? null : id, l.url)"
                                       [queryParams]="l.queryParams" [fragment]="l.fragment"
                                       [innerHTML]="l.title" *ngIf="l.withoutId || id; else ea"></a>
                                </ng-container>
                                <ng-container *ngSwitchCase="1">
                                    <ng-container [ngSwitch]="!!id">
                                        <ng-container *ngSwitchCase="true">
                                            <a href="javascript:void(0)" (click)="navigate(l, l.withoutId ? null : id)"
                                               [innerHTML]="l.title"></a>
                                        </ng-container>
                                        <ng-container *ngSwitchCase="false">
                                            <a href="javascript:void(0)" (click)="navigate(l)" [innerHTML]="l.title"
                                               *ngIf="!l.withIdOnly; else ea"></a>
                                        </ng-container>
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                            <ng-template #ea>
                                <a [innerHTML]="l.title"></a>
                            </ng-template>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="sidebar-top" *ngIf="upbtn" (click)="scrollUp()">
                <p class="sidebar-top__text">Наверх</p>
            </div>
        </div>
    </div>
</div>
<notifier-container></notifier-container>
