<ng-container *ngIf="{view: viewMode$|async, invProc: invProc$|async, incProc: incProc$|async} as m">
    <div class="b-title b-title_mod_icon">
        <h2 class="b-title__text">Инвалидность:</h2>
        <button class="b-form__icon b-form__icon_mod_book" (click)="addInvalid()"
                *ngIf="(m.view || !curInv) && data.actual"></button>
    </div>
    <fi-table [headers]="invHeaders" wrapClass="b-table__wrap_row_4" *ngIf="{its: invs$|async} as d">
        <tr class="b-table__row" *ngFor="let it of d.its; let i = index"
            [class.b-table__row_state_active]="it == curInv" (click)="m.view && setCurInv(it)">
            <td class="b-table__cell">
                <p class="b-table__text">{{it.invDoc?.name}}</p>
            </td>
            <td class="b-table__cell b-table__cell_align_center">
                <p class="b-table__text">{{it.invDate}}</p>
            </td>
            <td class="b-table__cell b-table__cell_align_center">
                <p class="b-table__text">{{it.invDoc?.series}}</p>
            </td>
            <td class="b-table__cell b-table__cell_align_center">
                <p class="b-table__text">{{it.invDoc?.number}}</p>
            </td>
            <td class="b-table__cell" style="width: 30%">
                <p class="b-table__text">{{it.invDoc?.whogive}}</p>
            </td>
            <td class="b-table__cell" [class.b-table__cell_align_center]="curInv != it && (!m.view || m.invProc)">
                <p class="b-table__text"
                   *ngIf="curInv != it && (!m.view || m.invProc)">{{it.invDoc?.issueDate}}</p>
                <div class="b-flex b-flex_align_between b-flex_mod_inline b-flex_valign_center b-flex_w_100"
                     *ngIf="(m.view && !m.invProc) || curInv == it">
                    <p class="b-table__text">{{it.invDoc?.issueDate}}</p>
                    <a class="user-context-menu__item user-context-menu__item_mod_remove"
                       style="margin:0 -20px 0 5px" (click)="removeInv(it, i)"></a>
                </div>
            </td>
        </tr>
        <tr class="b-table__row" *fiEmpty="3 - (d.its?.length || 0) ">
            <td class="b-table__cell" *fiEmpty="4"></td>
            <td class="b-table__cell" style="width: 30%"></td>
            <td class="b-table__cell"></td>
        </tr>
    </fi-table>
    <ng-container *ngIf="curInv">
        <div class="b-indent b-indent_s_15"></div>
        <div class="b-title">
            <h2 class="b-title__text">Детальные сведения:</h2>
        </div>
        <fi-invalid-det [view]="m.view" [data]="curInv"></fi-invalid-det>
    </ng-container>
    <div class="b-indent b-indent_s_25"></div>
    <div class="b-title b-title_mod_icon">
        <h2 class="b-title__text">Недееспособность:</h2>
        <button class="b-form__icon b-form__icon_mod_book" (click)="addIncapable()"
                *ngIf="(m.view || !curInc) && data.actual"></button>
    </div>
    <fi-table [headers]="incHeaders" wrapClass="b-table__wrap_row_4" *ngIf="{its: incs$|async} as d">
        <tr class="b-table__row" *ngFor="let it of d.its; let i = index"
            [class.b-table__row_state_active]="it == curInc" (click)="m.view && setCurInc(it)">
            <td class="b-table__cell">
                <p class="b-table__text">{{it.incDoc?.name}}</p>
            </td>
            <td class="b-table__cell b-table__cell_align_center">
                <p class="b-table__text">{{it.incDate}}</p>
            </td>
            <td class="b-table__cell b-table__cell_align_center">
                <p class="b-table__text">{{it.incDoc?.series}}</p>
            </td>
            <td class="b-table__cell b-table__cell_align_center">
                <p class="b-table__text">{{it.incDoc?.number}}</p>
            </td>
            <td class="b-table__cell" style="width: 30%">
                <p class="b-table__text">{{it.incDoc?.whogive}}</p>
            </td>
            <td class="b-table__cell" [class.b-table__cell_align_center]="curInc != it && (!m.view || m.incProc)">
                <p class="b-table__text"
                   *ngIf="curInc != it && (!m.view || m.incProc)">{{it.incDoc?.issueDate}}</p>
                <div class="b-flex b-flex_align_between b-flex_mod_inline b-flex_valign_center b-flex_w_100"
                     *ngIf="(m.view && !m.incProc) || curInc == it">
                    <p class="b-table__text">{{it.incDoc?.issueDate}}</p>
                    <a class="user-context-menu__item user-context-menu__item_mod_remove"
                       style="margin:0 -20px 0 5px" (click)="removeInc(it, i)"></a>
                </div>
            </td>
        </tr>
        <tr class="b-table__row" *fiEmpty="3 - (d.its?.length || 0) ">
            <td class="b-table__cell" *fiEmpty="4"></td>
            <td class="b-table__cell" style="width: 30%"></td>
            <td class="b-table__cell"></td>
        </tr>
    </fi-table>
    <ng-container *ngIf="curInc">
        <div class="b-indent b-indent_s_15"></div>
        <div class="b-title">
            <h2 class="b-title__text">Детальные сведения:</h2>
        </div>
        <fi-incapable-det [view]="m.view" [data]="curInc"></fi-incapable-det>
    </ng-container>
    <div class="b-indent b-indent_s_25"></div>
</ng-container>
<ng-template #fieldsErrors let-noti="notification">
    <fi-errors [errors]="noti.message"></fi-errors>
</ng-template>

