.change-name-identity-document
{
  margin: 27px 0 0;

  & .b-table__cell
  {
    &:nth-child(1)
    {
      width: 90px;
    }
    &:nth-child(2)
    {
      // width: 40px;
    }
    &:nth-child(3)
    {
      // width: 50px;
    }
    &:nth-child(4)
    {
      width: 370px;
    }
    &:nth-child(5)
    {
      // width: 95px;
    }
    &:nth-child(6)
    {
      // width: 70px;
    }
    &:nth-child(7)
    {
      //
    }
  }
}
