<fi-modal [id]="id" [title]="'Подтверждение действия'"
           clazz="b-popup_mod_confirm" #mc (closed)="onClose()">
    <div class="b-popup-confirm">
        <p class="b-popup-confirm__text">
            Удалить запись<span *ngIf="mc.getData()"> &laquo;{{mc.getData()|async}}&raquo;</span>?
        </p>
    </div>
    <div class="b-popup-nav b-popup-nav_align_center">
        <div class="b-popup-nav__body">
            <div class="b-popup-nav__item">
                <a class="b-button" style="background:#d44667;border-color:#d44667" (click)="da()">
                    <div class="b-button__icon b-button__icon_mod_ok"></div>
                    <div class="b-button__text">Удалить</div>
                </a>
            </div>
            <div class="b-popup-nav__item">
                <a class="b-button" style="background:#8c90b1;border-color:#8c90b1" (click)="mc.close()">
                    <div class="b-button__icon b-button__icon_mod_cancel"></div>
                    <div class="b-button__text">Нет</div>
                </a>
            </div>
        </div>
    </div>
</fi-modal>


