:root {
	--b-legend-text-font: normal 13px/1 Arial;
	--b-legend-text-color: #7a7c8a;
}

:root[theme='visually_impaired_1'] {
	--b-legend-text-font: normal 15px/1 Arial;
	--b-legend-text-color: #7a7c8a;
}

:root[theme='visually_impaired_2'] {
	--b-legend-text-font: normal 15px/1 Arial;
	--b-legend-text-color: #ffffff;
}

.b-legend__body {
    display: flex
}

.b-legend__item {
    display: flex;
    margin: 0 10px
}

.b-legend__icon {
    width: 11px;
    height: 11px;
    margin: 1px 4px 0 0;
    border-radius: 2px
}

.b-legend__text {
    font: var(--b-legend-text-font);
    margin: 0;
    color: var(--b-legend-text-color);
}
