:root {
    --b-request-cell-body-background: #fff;
    --b-request-label-font: bold 13px/1.3 Arial;
    --b-request-label-color: #000;
    --b-request-text-font: bold 13px/1.3 Arial;
    --b-request-text-color: #000;
    --b-request-cell-body-color: #000;
}

:root[theme='visually_impaired_1'] {
    --b-request-cell-body-background: #fff;
    --b-request-label-font: bold 15px/1.3 Arial;
    --b-request-label-color: #000;
    --b-request-text-font: bold 15px/1.3 Arial;
    --b-request-text-color: #000;
    --b-request-cell-body-color: #000;
}

:root[theme='visually_impaired_2'] {
    --b-request-cell-body-background: #000000;
    --b-request-label-font: bold 15px/1.3 Arial;
    --b-request-label-color: #ffffff;
    --b-request-text-font: bold 15px/1.3 Arial;
    --b-request-text-color: #ffffff;
    --b-request-cell-body-color: #ffffff;
}

.b-request {
    &__body {
        display: flex;
        justify-content: space-between
    }

    &__cell {
        width: calc(50% - 30px);

        &-body {
            overflow: auto;
            padding: 6px 10px;
            border: 1px solid #c7c9db;
            border-radius: 2px;
            background: var(--b-request-cell-body-background);
            color: var(--b-request-cell-body-color);
        }

    }

    &__item {
        margin: 0 0 15px;

        &:last-child {
            margin: 0
        }
    }

    &__label {
        font: var(--b-request-label-font);
        margin: 0;
        color: var(--b-request-label-color);
    }

    &__text {
        font: var(--b-request-text-font);
        margin: 0;
        color: var(--b-request-text-color);
    }
}
