.b-title__flex {
    display: flex;
    justify-content: left;
    align-items: flex-end;
    margin-bottom: 5px;

    .b-title__text {
        margin-right: 10px;
    }

    .b-form {
        width: 100%;

        ng-select {
            width: 100%;
        }
    }
}
