input::-ms-clear
{
  display: none;
}

input
{
  box-shadow: none !important;

  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

*
{
  -webkit-tap-highlight-color: transparent;
}

.hide
{
  display: none;
}

.show
{
  display: block;
}
