/* Базовые цвета */
$baseBg: #fff;


/* mixin */
@mixin clearfix() {
    &:before,
    &:after {
        display: table;

        content: ' ';
    }
    &:after {
        clear: both;
    }
}

.clearfix {
    @include clearfix();
}

:root {
    --info: #17a2b8;
}
