:root {
    --body-background: #f4f4f4;
}

:root[theme='visually_impaired_1'] {
    --body-background: #f4f4f4;
}

:root[theme='visually_impaired_2'] {
    --body-background: #181818;
}

body {
    font: normal 13px/1.3 'Arial', sans-serif;

    background: var(--body-background);
}
