.basic-details-parents
{
  margin: 20px 0;

  &__body
  {
    margin: 26px 0 0;

    &:first-child
    {
      margin: 0;
    }
  }
  &__row
  {
    display: flex;

    margin: 8px 0 0;

    &:first-child
    {
      margin: 0;
    }
  }
  &__cell
  {
    margin: 0 0 0 10px;

    &:first-child
    {
      margin: 0;
    }
    &:nth-child(1)
    {
      .basic-details-parents__row:first-child &
      {
        & .b-form__icon
        {
          margin: 0;
        }
      }
    }
  }
}
