.basic-details-document
{
  margin: 22px 0;

  &__wrap
  {
    margin: 20px 0 0;

    &:first-child
    {
      margin: 0;
    }
  }
  &__body
  {
    //
  }
  &__row
  {
    display: flex;

    margin: 8px 0 0;

    &:first-child
    {
      margin: 0;
    }
  }
  &__cell
  {
    margin: 0 0 0 10px;

    &:first-child
    {
      margin: 0;
    }
  }
  &__table
  {
    &-row
    {
      display: table-row;
    }
    &-cell
    {
      display: table-cell;

      padding: 0 0 8px;

      vertical-align: middle;

      &:nth-child(2)
      {
        padding-left: 10px;
      }
      &:nth-child(4)
      {
        padding-left: 10px;
      }
      .basic-details-requisites__row:last-child &
      {
        padding-bottom: 0;
      }
    }
  }
  &__document-change
  {
    margin: 22px 0 17px;
  }
  &__date
  {
    margin: 22px 0 0;
  }
}
