.basic-details-statistical
{
  margin: 20px 0 0;

  &__table
  {
    margin: 11px 0 0;

    &-row
    {
      display: table-row;
    }
    &-cell
    {
      display: table-cell;

      padding: 0 0 12px;
      padding-left: 16px;

      vertical-align: middle;

      &:first-child
      {
        padding-left: 0;
      }
      &:nth-child(2)
      {
        padding-left: 0;
      }
      &:nth-child(5)
      {
        padding-left: 0;
      }
      .basic-details-additional__table-row:last-child &
      {
        padding-bottom: 0;
      }
    }
  }
}
