.basic-details-incapacity
{
  margin: 19px 0 16px;

  & .b-title__text
  {
    margin: 0;
  }
  &__body
  {
    display: flex;

    align-items: center;
  }
  &__item
  {
    &:nth-child(2)
    {
      margin: 0 27px 0 16px;
    }
  }
}
