:root {
	--b-select-input-font: normal 13px/normal Arial;
	--b-select-input-color: #000;
	--b-select-input-background: #fff;
	--b-select-list-background: #fff;
	--b-select-list-box-shadow: 1px 1px 5px 0 rgba(0,0,0,.4);
	--b-select-item-font: normal 13px/normal Arial;
	--b-select-item-state-select-background:#e1e6f4;
}
:root[theme='visually_impaired_1'] {
	--b-select-input-font: normal 15px/normal Arial;
	--b-select-input-color: #000;
	--b-select-input-background: #fff;
	--b-select-list-background: #fff;
	--b-select-list-box-shadow: 1px 1px 5px 0 rgba(0,0,0,.4);
	--b-select-item-font: normal 15px/normal Arial;
	--b-select-item-state-select-background:#e1e6f4;
}
:root[theme='visually_impaired_2'] {
	--b-select-input-font: normal 15px/normal Arial;
	--b-select-input-color: #fff;
	--b-select-input-background: #000;
	--b-select-list-background: #000;
	--b-select-list-box-shadow: none;
	--b-select-item-font: normal 15px/normal Arial;
	--b-select-item-state-select-background:#000;
}

.b-select
{
  & .b-select_state_open
  {
    margin: 0;
  }

  &__input
  {
    font: var(--b-select-input-font);
    box-sizing: border-box;
    width: 100%;
    height: 28px;
    padding: 0 22px 0 7px;
    color: var(--b-select-input-color);
    border: none;
    outline: 0;
    background: var(--b-select-input-background);
  }
  &__arrow
  {
    display: flex;
    width: 20px;
    cursor: pointer;
    border-left: 1px solid #c7c9db;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
  }
  &__clear {
    position: absolute;
    top: 0;
    right: 7px;
    bottom: 0;
    width: 8px;
    height: 8px;
    margin: auto;
    cursor: pointer;
    background: transparent url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDcwIiBoZWlnaHQ9IjQ3MCIgeG1sbnM9I…0xNzMuOTk2MjV6IiBmaWxsPSIjREQyRTQ0IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=) left top no-repeat;
    background-size: 100% auto;
  }
  &__list {
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    width: 20%;
    max-height: 156px;
    margin: 0;
    padding: 0;
    list-style: none;
    border: 1px solid #c7c9db;
    border-top: 0;
    border-radius: 0 0 2px 2px;
    background: var(--b-select-list-background);
    box-shadow: var(--b-select-list-box-shadow);
  }
  &__item {
      font: var(--b-select-item-font);
      padding: 5px 7px;
      cursor: pointer;
      transition: all .3s ease;
      border-top: 1px solid #ededed;
  }
  &__item_state_select {
    background: var(--b-select-item-state-select-background);
  }
}
