.basic-details-requisites
{
  &__body
  {
    margin: 10px 0 0;
  }
  &__row
  {
    display: table-row;
  }
  &__cell
  {
    display: table-cell;

    padding: 0 0 6px;

    vertical-align: middle;

    &:nth-child(2)
    {
      width: 366px;
    }
    &:nth-child(3)
    {
      padding-left: 10px;
    }
    &:nth-child(4)
    {
      width: 214px;
    }
    &:nth-child(5)
    {
      padding-left: 10px;
    }
    .basic-details-requisites__row:last-child &
    {
      padding-bottom: 0;
    }
    &_align
    {
      &_right
      {
        text-align: right;
      }
    }
  }
}
