.basic-details-additional
{
  margin: 24px 0 0;

  &__body
  {
    margin: 10px 0 0;
  }
  &__table
  {
    &-row
    {
      display: table-row;
    }
    &-cell
    {
      display: table-cell;

      padding: 0 0 10px;
      padding-left: 10px;

      vertical-align: middle;

      &:first-child
      {
        padding-left: 0;
      }
      .basic-details-additional__table-row:last-child &
      {
        padding-bottom: 0;
      }
    }
  }
}
