.basic-details-registration
{
  margin: 13px 0 0;

  &__body
  {
    display: flex;
  }
  &__left
  {
    //
  }
  &__right
  {
    //
  }
  &__table
  {
    //
  }
  &__row
  {
    display: table-row;
  }
  &__cell
  {
    display: table-cell;

    height: 30px;
    padding: 0 0 10px;

    vertical-align: middle;

    &:nth-child(1)
    {
      width: 110px;
      padding-left: 10px;

      & .b-form__icon
      {
        margin: 0;
      }
    }
    .basic-details-registration__row:last-child &
    {
      padding-bottom: 0;
    }
    &_align
    {
      &_right
      {
        text-align: right;

        .b-form
        {
          justify-content: flex-end;
        }
      }
    }
  }
  &-flat
  {
    margin: 7px 0 0;

    &__body
    {
      display: flex;

      align-items: center;
    }
    &__item
    {
      &:nth-child(2)
      {
        padding-left: 22px;
      }
    }
  }
}
