<ng-container *ngIf="{view: viewMode$|async, proc: rproc$|async} as m">
    <div class="b-title b-title_mod_icon">
        <h2 class="b-title__text">Сведения ЗАГС:</h2>
        <div ngbDropdown *ngIf="m.view && data.actual" #smtx="ngbDropdown">
            <button class="b-form__icon b-form__icon_mod_book" ngbDropdownToggle></button>
            <div ngbDropdownMenu class="b-form-menu">
                <div class="b-form-menu__body">
                    <div class="b-form-menu__item" *ngFor="let c of certs$|async" (click)="smtx.close();createCert(c)">
                        <a>{{c.label}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <fi-table [headers]="headers" wrapClass="b-table__wrap_row_4" *ngIf="{its: items$|async} as d">
        <tr class="b-table__row" *ngFor="let it of d.its; let i = index"
            [class.b-table__row_state_active]="it == curCert" (click)="m.view && setCurrent(it)">
            <td class="b-table__cell">
                <p class="b-table__text">{{it.type}}</p>
            </td>
            <td class="b-table__cell b-table__cell_align_center">
                <p class="b-table__text">{{it.regDate}}</p>
            </td>
            <td class="b-table__cell b-table__cell_align_center">
                <p class="b-table__text">{{it.series}}</p>
            </td>
            <td class="b-table__cell b-table__cell_align_center">
                <p class="b-table__text">{{it.nomer}}</p>
            </td>
            <td class="b-table__cell" style="width: 30%">
                <p class="b-table__text">{{it.whogive}}</p>
            </td>
            <td class="b-table__cell" [class.b-table__cell_align_center]="curCert !== it && (!m.view || m.proc)">
                <p class="b-table__text" *ngIf="curCert !== it && (!m.view || m.proc)">{{it.issueDate}}</p>
                <div class="b-flex b-flex_align_between b-flex_mod_inline b-flex_valign_center b-flex_w_100"
                     *ngIf="(m.view && !m.proc) || curCert == it">
                    <p class="b-table__text">{{it.issueDate}}</p>
                    <div class="user-context-menu">
                        <div class="user-context-menu__wrap">
                            <a class="user-context-menu__remove" (click)="remove(it, i)"></a>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr class="b-table__row" *fiEmpty="3 - (d.its?.length || 0) ">
            <td class="b-table__cell" *fiEmpty="4"></td>
            <td class="b-table__cell" style="width: 30%"></td>
            <td class="b-table__cell"></td>
        </tr>
    </fi-table>
    <ng-container *ngIf="{c: cur$|async} as cur">
        <ng-container *ngIf="cur.c">
            <div class="b-indent b-indent_s_15"></div>
            <div class="b-title">
                <h2 class="b-title__text">Детальные сведения:</h2>
            </div>
            <ng-container *ngIf="cur.c.typeId == cls.dthc">
                <div class="b-form">
                    <label class="b-form__label">Дата*</label>
                    <fi-calendar [(ngModel)]="cur.c.date" [disabled]="m.view"
                                 (changed)="dateChanged(cur.c.date)"></fi-calendar>
                </div>
                <div class="b-indent b-indent_s_10"></div>
            </ng-container>
            <div class="b-flex b-flex_mod_indent">
                <div class="b-form">
                    <label class="b-form__label">Запись акта гражданского состояния №</label>
                    <input class="b-form__input" [(ngModel)]="cur.c.actNomer" style="width:220px" maxlength="21"
                           [disabled]="m.view">
                </div>
                <div class="b-form" style="margin-left: 27px">
                    <label class="b-form__label">Дата регистрации</label>
                    <fi-calendar [(ngModel)]="cur.c.regDate" [disabled]="m.view"></fi-calendar>
                </div>
            </div>
            <div class="b-indent b-indent_s_10"></div>
            <div class="b-form">
                <label class="b-form__label">Отдел ЗАГС</label>
                <ng-select [ngModel]="cur.c.whogive" style="width:659px" [disabled]="m.view" bindValue=""
                           (change)="zagsChanged($event, cur.c)"
                           [addTag]="true" [typeahead]="wgInput$" [items]="whogive$|async">
                </ng-select>
            </div>
            <div class="b-indent b-indent_s_10">
                <div class="b-flex b-flex_mod_indent">
                    <div class="b-form">
                        <label class="b-form__label" style="width:74px">Серия</label>
                        <input class="b-form__input" [(ngModel)]="cur.c.series" style="width:65px" [disabled]="m.view">
                    </div>
                    <div class="b-form">
                        <label class="b-form__label">№</label>
                        <input class="b-form__input" [ngModel]="cur.c.nomer" style="width:135px" [disabled]="m.view"
                               [fiMaskNum]="6" maxlength="6" (change)="nomerChanged($event, cur.c)">
                    </div>
                    <div class="b-form">
                        <label class="b-form__label">Даты выдачи*</label>
                        <fi-calendar [(ngModel)]="cur.c.issueDate" [disabled]="m.view"></fi-calendar>
                    </div>
                </div>
            </div>
            <ng-container *ngIf="cur.c.typeId == cls.mcrt ">
                <div class="b-indent b-indent_s_10"></div>
                <div class="b-form">
                    <label class="b-form__label" style="width:74px">Супруг (а)</label>
                    <input class="b-form__input" [value]="cur.c.spouse || ''" style="width:625px" readonly
                           [disabled]="m.view">
                    <a class="b-form__icon b-form__icon_mod_book" (click)="spouse(cur.c)" *ngIf="!m.view"></a>
                </div>
            </ng-container>
        </ng-container>
    </ng-container>
    <div class="b-indent b-indent_s_25"></div>
</ng-container>
<ng-template #fieldsErrors let-noti="notification">
    <fi-errors [errors]="noti.message"></fi-errors>
</ng-template>
