<div class="b-form">
    <label class="b-form__label b-form__label_align_right">Дата<br>установки*:</label>
    <fi-calendar [(ngModel)]="data.incDate" [disabled]="view || data.disabilityId"></fi-calendar>
</div>
<div class="b-indent b-indent_s_15"></div>
<label class="b-form__label">Документ, устанавливающий недееспособность*:</label>
<div class="b-indent b-indent_s_5"></div>
<div class="b-flex b-flex_align_between">
    <div class="b-form">
        <input class="b-form__input" [value]="data.incDoc.name||''" [disabled]="view || data.disabilityId" readonly
               style="width: 431px"/>
        <a class="b-form__icon b-form__icon_mod_book" *ngIf="!(view || data.disabilityId)"
           (click)="setDoc(data.incDoc)"></a>
        <a class="b-form__icon b-form__icon_mod_erase" *ngIf="!view" (click)="clearDoc()"
           style="margin-left: 5px"></a>
    </div>
    <div class="b-form">
        <label class="b-form__label">серия</label>
        <input class="b-form__input" style="width:82px;" [disabled]="view" [(ngModel)]="data.incDoc.series">
    </div>
    <div class="b-form">
        <label class="b-form__label">номер</label>
        <input class="b-form__input" style="width:100px;" [disabled]="view" [(ngModel)]="data.incDoc.number">
    </div>
    <div class="b-form">
        <label class="b-form__label b-form__label_align_right">дата<br>выдачи</label>
        <fi-calendar [(ngModel)]="data.incDoc.issueDate" [disabled]="view"></fi-calendar>
    </div>
</div>
<div class="b-indent b-indent_s_10"></div>
<div class="b-form">
    <label class="b-form__label">Кем&nbsp;выдан:</label>
    <input class="b-form__input b-form__input_w_100" [value]="data.incDoc.whogive || ''" disabled
           *ngIf="view">
    <ng-select [(ngModel)]="data.incDoc.whogive" class="b-form__input_w_100"
               [typeahead]="wgIncInput$" [items]="whogiveInc$|async" *ngIf="!view">
    </ng-select>
</div>
<div class="b-indent b-indent_s_10"></div>
<label class="b-form__label">Описание:</label>
<div class="b-indent b-indent_s_5"></div>
<div class="b-form">
            <textarea class="b-form__area b-form__area_w_100" style="height:59px" [(ngModel)]="data.incDesc"
                      [disabled]="view"></textarea>
</div>
