<div class="b-title" *ngIf="title">
    <h2 class="b-title__text" [ngClass]="titleCls" [innerHTML]="title"></h2>
</div>
<div class="b-table b-table_mod_border" [style.width]="width || 'auto'">
    <div class="b-table__wrap" [ngClass]="wrapClass">
        <table class="b-table__table">
            <thead class="b-table__head">
            <tr class="b-table__row">
                <ng-container *ngFor="let h of headers; let i = index">
                    <ng-container [ngSwitch]="!!(sorts && sorts[i])">
                        <td class="b-table__cell" *ngSwitchCase="false"
                            [ngStyle]="{width: widths[i], position: 'sticky', top: 0, zIndex: 1}">
                            <p class="b-table__text" [innerHTML]="h"></p>
                        </td>
                        <td class="b-table__cell" [sortable]="sorts[i]" (sort)="setSort($event)" *ngSwitchCase="true"
                            [ngStyle]="{width: widths[i], position: 'sticky', top: 0, zIndex: 1}">
                            <p class="b-table__text">
                                <span [innerHTML]="h"></span><span class="b-table-sort"></span>
                            </p>
                        </td>
                    </ng-container>
                </ng-container>
            </tr>
            </thead>
            <tbody class="b-table__body">
            <ng-content></ng-content>
            </tbody>
        </table>
    </div>
</div>

