.nsm-content {
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    background: none;
}

button {
    &.close {
        border: 0;
        border-radius: 0;
        -webkit-appearance: none;
        padding: 1rem;
        margin: -1rem -.75rem -1rem auto;

        background-color: transparent;
        color: #fff;
        outline: none;

        float: right;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1;
        text-shadow: 0 1px 0 #fff;
        opacity: .5;

        text-transform: none;
        overflow: visible;

        cursor: pointer;

        &:hover {
            opacity: .75;
        }
    }
}

a.b-button {
    text-decoration: none;
}
