:root {
	--custody-header-background: linear-gradient(to bottom,  #b1b4ce 0%, #8f91ad 100%);
	--custody-header-font: normal 36px/1.3 'Arial';
}
:root[theme='visually_impaired_1'] {
	--custody-header-background: linear-gradient(to bottom,  #b1b4ce 0%, #8f91ad 100%);
	--custody-header-font: normal 60px/1.3 'Arial';
}
:root[theme='visually_impaired_2'] {
	--custody-header-background: #000;
	--custody-headerc-font: normal 60px/1.3 'Arial';
}

.custody-header
{
  &__body
  {
    padding: 27px 0 31px;

    /*background: #b1b4ce;*/
    background: var(--custody-header-background);
  }
  &__topic
  {
    font: var(--custody-header-font);

    margin: 0;

    text-align: center;

    color: #fff;
  }
}
