.custody-inability-educate
{
  width: 584px;
  padding: 20px;

  &__table
  {
    display: table;

    width: 100%;
  }
  &__row
  {
    display: table-row;
  }
  &__cell
  {
    display: table-cell;

    padding: 0 0 10px;

    &_align
    {
      &_middle
      {
        vertical-align: middle;
      }
    }

    &:first-child
    {
      width: 1%;
    }
    .custody-inability-educate__row:last-child &
    {
      padding: 0;
    }
  }
  &__inline
  {
    display: flex;

    & > div:nth-child(2)
    {
      margin: 0 30px;
    }
  }
}
