:root {
	--custody-person-search-label-font: normal 13px/1 'Arial';
	--custody-person-search-label-color: #8385a4;
	--custody-person-search-note-label-color: #8385a4;
	--custody-person-search-count-font: normal 13px/1 'Arial';
	--custody-person-search-count-color: #000;
}
:root[theme='visually_impaired_1'] {
	--custody-person-search-label-font: normal 15px/1 'Arial';
	--custody-person-search-label-color: #8385a4;
	--custody-person-search-note-label-color: #8385a4;
	--custody-person-search-count-font: normal 15px/1 'Arial';
	--custody-person-search-count-color: #000;
}
:root[theme='visually_impaired_2'] {
	--custody-person-search-label-font: normal 15px/1 'Arial';
	--custody-person-search-label-color: #ffffff;
	--custody-person-search-note-label-color: #ffffff;
	--custody-person-search-count-font: normal 15px/1 'Arial';
	--custody-person-search-count-color: #ffffff;
}


.custody-person-search
{
  margin: 0 0 15px;

  &__body
  {
    display: flex;

    padding: 3px 0 11px;

    align-items: flex-end;
    justify-content: center;
  }
  &__item
  {
    margin: 0 2px;

    text-align: center;

    &:first-child
    {
      margin-right: 22px;
    }
    &:nth-child(5)
    {
      margin-left: 18px;
    }
    &:nth-child(6)
    {
      margin-left: 18px;
    }
    &:last-child
    {
      margin-left: 20px;
      margin-left: 8px;
    }
  }
  &__label
  {
    font: var(--custody-person-search-label-font);

    display: inline-block;

    margin: 0 0 3px;

    color: var(--custody-person-search-label-color);
  }
  &__note
  {
    margin: 7px 0 0;

    & label
    {
      color: var(--custody-person-search-note-label-color);
    }
  }
  &__search
  {
    margin: 0 0 3px;
  }
  &__count
  {
    font: var(--custody-person-search-count-font);

    margin: 15px 0 -12px;

    color: var(--custody-person-search-count-color);
  }
}
