.custody-parents-relatives
{
  margin: 10px 0 0;

  &__row
  {
    margin: 0 0 5px;

    &:last-child
    {
      margin: 0;
    }
  }
  &__inline
  {
    display: flex;

    & > div:first-child
    {
      margin: 0 60px 0 0;
    }
  }
}
