.custody-blood-family
{
  width: 780px;
  padding: 20px;

  &__table
  {
    display: table;

    width: 100%;
  }
  &__row
  {
    display: table-row;
  }
  &__cell
  {
    display: table-cell;

    padding: 0 0 10px;

    &:first-child
    {
      width: 1%;
    }
    .custody-blood-family__row:last-child &
    {
      padding: 0;
    }
  }
}
