fi-choose-address .nsm-dialog {
    max-width: 717px;

    .b-button {
        margin-top: 1rem;
    }

    .b-form-table__title {
        margin-top: 0;
    }

    .b-form__label.first-label {
        width: 100px;
    }

    form.b-flex {
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;

        .search-address {
            position: relative;
            flex: 1;
            margin-left: 6px;
            margin-right: 6px;

            input {
                width: 100%;
            }

            .ng-dropdown-panel {
                width: auto;
                max-width: 131.7%;
                min-width: 100%;

                .ng-option {
                    &:hover {
                        cursor: pointer;
                        color: #000;
                        background-color: #e1e6f4;
                    }

                    div {
                        white-space: normal;
                    }
                }
            }
        }

        .b-button {
            margin-top: 0;
        }

        button {
            margin-right: 4px;
        }
    }
}
