<fi-modal [id]="id" *ngIf="((cnf$|async) || {}) as cnf"
          [title]="cnf?.title" [closable]="true" #mc (closed)="onClose()">
    <div class="modal-body">
        <form class="b-flex" (ngSubmit)="search()">
            <label class="b-form-table__title">Выбор адреса из справочника</label>
            <div class="search-address">
                <input class="b-form__input" #searchIn>
                <div class="ng-dropdown-panel" [style.opacity]="(fullAdrs$|async)?.length">
                    <div class="ng-dropdown-panel-items scroll-host">
                        <div class="ng-option" *ngFor="let a of fullAdrs$|async" (click)="setLevels($event, a.value)">
                            <div>{{a.label}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="b-button">
                <div class="b-button__icon b-button__icon_mod_search"></div>
                <div class="b-button__text">Поиск</div>
            </button>
            <a class="b-button" (click)="clear()">
                <div class="b-button__icon b-button__icon_mod_clear"></div>
            </a>
        </form>
        <div class="b-form-table__body">
            <div class="b-form-table__row" *ngIf="cnf.wCountry">
                <div class="b-form-table__cell">
                    <p class="b-form-table__label">Страна</p>
                </div>
                <div class="b-form-table__cell">
                    <ng-select [(ngModel)]="address.countryId"
                               (change)="countryChanged($event)"
                               [typeahead]="cInput$" [disabled]="cnf.dCountry"
                               [items]="countries$|async">
                    </ng-select>
                </div>
            </div>
            <div class="b-form-table__row" *ngFor="let l of address.levels; let i = index">
                <div class="b-form-table__cell">
                    <p class="b-form-table__label">{{l.level}}</p>
                </div>
                <div class="b-form-table__cell">
                    <ng-select [disabled]="disabled[i]"
                               [(ngModel)]="models[i].v"
                               (change)="changed($event, i, l)"
                               [typeahead]="inputs[i]"
                               [items]="items[i]|async">
                        <ng-template ng-label-tmp let-item="item">
                            <ng-container
                                    *ngIf="item.label">{{item.order == 0 ? (item.short + ' ' + item.label) : (item.label + ' ' + item.short)}}
                                <ng-container *ngIf="item.child">
                                    {{item.child.order == 0 ? (item.child.short + ' ' + item.child.label) : (item.child.label + ' ' + item.child.short)}}
                                    <ng-container *ngIf="item.child.child">
                                        {{item.child.child.order == 0 ? (item.child.child.short + ' ' + item.child.child.label) : (item.child.child.label + ' ' + item.child.child.short)}}
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                        </ng-template>
                        <ng-template ng-option-tmp let-item="item">
                            <div>{{item.order == 0 ? (item.short + ' ' + item.label) : (item.label + ' ' + item.short)}}
                                <ng-container *ngIf="item.child">
                                    {{item.child.order == 0 ? (item.child.short + ' ' + item.child.label) : (item.child.label + ' ' + item.child.short)}}
                                    <ng-container *ngIf="item.child.child">
                                        {{item.child.child.order == 0 ? (item.child.child.short + ' ' + item.child.child.label) : (item.child.child.label + ' ' + item.child.child.short)}}
                                    </ng-container>
                                </ng-container>
                            </div>
                        </ng-template>
                    </ng-select>
                </div>
            </div>
        </div>
        <ng-container *ngIf="(cnf && (cnf.country || !cnf.noadr || cnf.flat))">
            <p>Ввод неклассифицированного адреса</p>
            <div class="b-form-table__body">
                <div class="b-form-table__row" *ngIf="cnf.country">
                    <div class="b-form-table__cell">
                        <p class="b-form-table__label">Страна</p>
                    </div>
                    <div class="b-form-table__cell">
                        <input class="b-form-table__input" type="text" [(ngModel)]="address.countryText">
                    </div>
                </div>
                <div class="b-form-table__row" *ngIf="!cnf.noadr">
                    <div class="b-form-table__cell">
                        <p class="b-form-table__label">Адрес</p>
                    </div>
                    <div class="b-form-table__cell">
                        <input class="b-form-table__input" type="text" [(ngModel)]="address.addressText">
                    </div>
                </div>
                <div class="b-form-table__row" *ngIf="cnf.flat">
                    <div class="b-form-table__cell">
                        <p class="b-form-table__label">Квартира</p>
                    </div>
                    <div class="b-form-table__cell">
                        <input class="b-form-table__input" type="text" [(ngModel)]="address.flat">
                    </div>
                </div>
            </div>
        </ng-container>
        <div class="basic-details-registration-flat" *ngIf="cnf.typeId || cnf.rooms">
            <div class="basic-details-registration-flat__body">
                <div class="basic-details-registration-flat__item">
                    <div class="b-form">
                        <label class="b-form__label first-label">Квартира (-ы)</label>
                        <input class="b-form__input" [(ngModel)]="address.flat" style="width:80px" fiMaskFlat>
                    </div>
                </div>
                <div class="basic-details-registration-flat__item">
                    <div class="b-form">
                        <label class="b-form__label">Комната (-ы)</label>
                        <input class="b-form__input" [(ngModel)]="address.room" style="width:80px" fiMaskFlat>
                    </div>
                </div>
            </div>
        </div>
        <ng-container *ngIf="cnf.typeId">
            <div class="b-indent b-indent_s_10"></div>
            <div class="b-form">
                <label class="b-form__label first-label">
                    <!--@formatter:off-->
                    Тип регистрации<ng-container *ngIf="cnf.typeId == cls.radr">*</ng-container>
                    <!--@formatter:on-->
                </label>
                <ng-select style="width:190px" [disabled]="cnf.typeId != cls.radr"
                           bindValue="" [ngModel]="address.regTypeStr" (change)="regTypeChanged($event)"
                           [searchable]="false" [clearable]="false" [items]="regTypes$|async"></ng-select>
                <ng-container *ngIf="cnf.cause">
                    <label class="b-form__label" style="margin-left: 30px; width: 90px">Причина прибытия*</label>
                    <ng-select style="width:253px" class="full-view-dd"
                               [(ngModel)]="address.arrivalCauseId"
                               [searchable]="false" [clearable]="false" [items]="arrivalCause$|async"></ng-select>
                </ng-container>
            </div>
            <div class="b-indent b-indent_s_10"></div>
            <div class="b-flex b-flex_mod_indent">
                <div class="b-form">
                    <label class="b-form__label first-label">Дата начала*</label>
                    <fi-calendar [(ngModel)]="address.startDate"
                                 (dblclick)="setRegStartDate()"></fi-calendar>
                </div>
                <div class="b-form">
                    <label class="b-form__label" style="margin-left: 87px; width: 90px">
                        <!--@formatter:off-->
                        Дата окончания<ng-container *ngIf="cnf.cause && address.regType === stayType">*</ng-container>
                        <!--@formatter:on-->
                    </label>
                    <fi-calendar [(ngModel)]="address.endDate"
                                 (dblclick)="address.regType != stayType || setRegEndDate()">
                    </fi-calendar>
                </div>
            </div>
            <ng-container *ngIf="cnf.ground">
                <div class="b-indent b-indent_s_10"></div>
                <div class="b-flex b-flex_mod_indent">
                    <div class="b-form">
                        <label class="b-form__label first-label">Основание проживания*</label>
                        <ng-select style="width:310px" class="full-view-dd"
                                   [(ngModel)]="address.lifeGroundId"
                                   (change)="liveGroundChanged()"
                                   [searchable]="false" [clearable]="false" [items]="rentType$|async"></ng-select>
                    </div>
                </div>
                <div class="b-indent b-indent_s_10"></div>
                <div class="b-flex b-flex_mod_indent" *ngIf="{owner: address.lifeGroundId == cls.owner} as grnd"
                     style="width:527px">
                    <div class="b-form">
                        <label class="b-form__label first-label">
                            <!--@formatter:off-->
                            Дата<ng-container *ngIf="grnd.owner">*</ng-container>
                            <!--@formatter:on-->
                        </label>
                        <fi-calendar [(ngModel)]="address.ownerDate" [disabled]="!grnd.owner"></fi-calendar>
                    </div>
                    <div class="b-form" style="display:flex; justify-content: end; width:100%">
                        <label class="b-form__label" style="width:90px">
                            <!--@formatter:off-->
                            Доля собственности<ng-container *ngIf="grnd.owner">*</ng-container>
                            <!--@formatter:on-->
                        </label>
                        <div class="b-flex b-flex_mod_inline b-flex_valign_center">
                            <input class="b-form__input" [(ngModel)]="address.numerator" [fiMaskNum]="3"
                                   style="width:40px" maxlength="3" [disabled]="!grnd.owner">
                            <span style="font-size:13px;margin:0 3px">/</span>
                            <input class="b-form__input" style="width:40px" maxlength="3"
                                   [(ngModel)]="address.denominator" [fiMaskNum]="3" [disabled]="!grnd.owner">
                        </div>
                    </div>
                </div>

            </ng-container>
        </ng-container>
        <button class="b-button" (click)="done(cnf.ground)" [disabled]="dis(cnf.typeId, cnf.ground)">
            <div class="b-button__icon b-button__icon_mod_save"></div>
            <div class="b-button__text">Сохранить</div>
        </button>
    </div>
</fi-modal>


