:root {
	--accounting-children-result-removed-cell-color: #7a7c8a;
	--accounting-children-result-removed-cell-background: #e1e6f4;
	--accounting-children-result-text-color: #7a7c8a;
	--accounting-children-result-registered-cell-background: #cde2cd;
	--accounting-children-result-legend-font: normal 13px/1 'Arial';
	--accounting-children-result-legend-color: #7a7c8a;
	--accounting-children-result-legend-before-background:#c0c7dd;
  --accounting-children-result-unsetteled-font: normal 13px/1 'Arial';
  --accounting-children-result-unsetteled-color: #7a7c8a;
  --accounting-children-result-unsetteled-before-background:#ecdae8;
	--accounting-children-result-total-font: normal 13px/1 'Arial';
	--accounting-children-result-total-color: #7a7c8a;
}

:root[theme='visually_impaired_1'] {
	--accounting-children-result-removed-cell-color: #7a7c8a;
	--accounting-children-result-removed-cell-background: #e1e6f4;
	--accounting-children-result-text-color: #7a7c8a;
	--accounting-children-result-registered-cell-background: #cde2cd;
	--accounting-children-result-legend-font: normal 14px/1 'Arial';
	--accounting-children-result-legend-color: #7a7c8a;
	--accounting-children-result-legend-before-background:#c0c7dd;
  --accounting-children-result-unsetteled-font: normal 14px/1 'Arial';
  --accounting-children-result-unsetteled-color: #7a7c8a;
  --accounting-children-result-unsetteled-before-background:#ecdae8;
	--accounting-children-result-total-font: normal 14px/1 'Arial';
	--accounting-children-result-total-color: #7a7c8a;
}

:root[theme='visually_impaired_2'] {
	--accounting-children-result-removed-cell-color: #fff;
	--accounting-children-result-removed-cell-background: #000000;
	--accounting-children-result-text-color: #fff;
	--accounting-children-result-registered-cell-background: #000000;
	--accounting-children-result-legend-font: normal 14px/1 'Arial';
	--accounting-children-result-legend-color: #fff;
	--accounting-children-result-legend-before-background:#000000;
  --accounting-children-result-unsetteled-font: normal 14px/1 'Arial';
  --accounting-children-result-unsetteled-color: #fff;
  --accounting-children-result-unsetteled-before-background:#000000;
	--accounting-children-result-total-font: normal 14px/1 'Arial';
	--accounting-children-result-total-color: #fff;
}

.accounting-children-result
{
  &__row
  {
    &_state
    {
      &_removed
      {
        & .b-table__cell
        {
          color: var(--accounting-children-result-removed-cell-color);
          background: var(--accounting-children-result-removed-cell-background);
        }
        & .b-table__text
        {
          color: var(--accounting-children-result-text-color);
        }
      }
      &_registered
      {
        & .b-table__cell
        {
          background: var(--accounting-children-result-registered-cell-background);
        }
      }
    }
  }
  &__legend
  {
    font: var(--accounting-children-result-legend-font);

    display: flex;

    margin: -12px 0 0 6px;

    color: var(--accounting-children-result-legend-color);

    align-items: center;

    &:before
    {
      display: block;

      width: 11px;
      height: 11px;
      margin: 0 5px 0 0;

      content: '';

      border-radius: 2px;
      background: var(--accounting-children-result-legend-before-background);
    }
  }
  &__unsetteled
  {
    font: var(--accounting-children-result-unsetteled-font);

    display: flex;

    margin: -12px 0 0 6px;

    color: var(--accounting-children-result-unsetteled-color);

    align-items: center;

    &:before
    {
      display: block;

      width: 11px;
      height: 11px;
      margin: 0 5px 0 0;

      content: '';

      border-radius: 2px;
      background: var(--accounting-children-result-unsetteled-before-background);
    }
  }
  &__total
  {
    font: var(--accounting-children-result-total-font);

    margin: 12px 0 0;

    text-align: center;

    color: var(--accounting-children-result-total-color);
  }
}
