:root {
	--accounting-children-search-background: #e3e2e2;
	--accounting-children-search-label-font: normal 13px/1.3 Arial;
	--accounting-children-search__label-color: #8385a4;
	--accounting-children-search-label-color: #8385a4;
}

:root[theme='visually_impaired_1'] {
	--accounting-children-search-background: #e3e2e2;
	--accounting-children-search-label-font: normal 15px/1.3 Arial;
	--accounting-children-search__label-color: #8385a4;
	--accounting-children-search-label-color: #8385a4;
}

:root[theme='visually_impaired_2'] {
	--accounting-children-search-background: #000000;
	--accounting-children-search-label-font: normal 15px/1.3 Arial;
	--accounting-children-search__label-color: #ffffff;
	--accounting-children-search-label-color: #ffffff;
}

.accounting-children-search
{
  padding: 8px 20px 20px;

  background: var(--accounting-children-search-background);

  &__label
  {
    font: var(--accounting-children-search-label-font);

    display: block;

    margin: 0 0 3px;

    text-align: center;

    color: var(--accounting-children-search__label-color);

    &_align
    {
      &_left
      {
        text-align: left;
      }
    }
  }
  & label
  {
    color: var(--accounting-children-search-label-color);
  }
}
