<div class="footer">
    <div class="footer__body">
        <div class="footer__cell">
            <div class="footer-user" *ngIf="{user: user$|async} as u">
                <p class="footer-user__name"
                   *ngIf="u.user">{{u.user.position}}&nbsp;&mdash; {{u.user.fio}}</p>
            </div>
        </div>
        <div class="footer__cell">
            <div class="footer-date">
                <p class="footer-date__text">
                    <ng-container *ngTemplateOutlet="nt;context:{now: (now$|async)}"></ng-container>
                </p>
            </div>
        </div>
    </div>
</div>
<ng-template #nt let-now="now">
    {{days[now?.getDay()]}}, {{now?.getDate()}}&nbsp;{{months[now?.getMonth()]}} {{now?.getFullYear()}},
    {{getHours(now)}}:{{getMinutes(now)}}
</ng-template>
