<div class="arrival-departure">
    <fi-table [title]="'Действующие / <span class=\'b-title__text_color_red\'>завершенные</span> регистрации'"
              [headers]="regTableHeaders">
        <tr class="b-table__row" *ngFor="let r of regs" [class.dead]="r.endDate" (click)="curReg=r"
            [ngClass]="{'b-table__row_state_active': curReg == r, dead: r.endDate}">
            <td class="b-table__cell">
                <p class="b-table__text">{{r.regTypeStr}}</p>
            </td>
            <td class="b-table__cell">
                <p class="b-table__text">{{ga(r.levels, r.addressText)}}</p>
            </td>
            <td class="b-table__cell">
                <p class="b-table__text b-table__text_align_center">{{r.startDate}}</p>
            </td>
            <td class="b-table__cell">
                <p class="b-table__text b-table__text_align_center">{{r.endDate}}</p>
            </td>
            <td class="b-table__cell">
                <p class="b-table__text b-table__text_align_center">{{r.eventDate}}</p>
            </td>
        </tr>
    </fi-table>

    <div class="basic-details-registration">
        <div class="b-title">
            <h2 class="b-title__text">Место регистрации*:</h2>
        </div>
        <div class="basic-details-registration__body">
            <div class="basic-details-registration__left">
                <div class="b-form-table">
                    <div class="b-form-table__body">
                        <div class="b-form-table__row">
                            <div class="b-form-table__cell">
                                <p class="b-form-table__label">Страна</p>
                            </div>
                            <div class="b-form-table__cell">
                                <input class="b-form-table__input" value="Россия">
                            </div>
                        </div>
                        <div class="b-form-table__row">
                            <div class="b-form-table__cell">
                                <p class="b-form-table__label">Субъект Федерации</p>
                            </div>
                            <div class="b-form-table__cell">
                                <input class="b-form-table__input" value="Сахалинская область">
                            </div>
                        </div>
                        <div class="b-form-table__row">
                            <div class="b-form-table__cell">
                                <p class="b-form-table__label">Город</p>
                            </div>
                            <div class="b-form-table__cell">
                                <input class="b-form-table__input" value="Корсаков">
                            </div>
                        </div>
                        <div class="b-form-table__row">
                            <div class="b-form-table__cell">
                                <p class="b-form-table__label">Улица</p>
                            </div>
                            <div class="b-form-table__cell">
                                <input class="b-form-table__input" value="Краснофлотская улица">
                            </div>
                        </div>
                        <div class="b-form-table__row">
                            <div class="b-form-table__cell">
                                <p class="b-form-table__label">Дом</p>
                            </div>
                            <div class="b-form-table__cell">
                                <input class="b-form-table__input" value="дом 6">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="basic-details-registration__right">
                <div class="basic-details-registration__table">
                    <div class="basic-details-registration__row">
                        <div class="basic-details-registration__cell basic-details-registration__cell_align_right">
                            <div class="b-form">
                                <label class="b-form__label">Регистрация</label>
                            </div>
                        </div>
                        <div class="basic-details-registration__cell">
                            <select class="b-form__select" style="width:170px">
                                <option></option>
                                <option></option>
                            </select>
                        </div>
                    </div>
                    <div class="basic-details-registration__row">
                        <div class="basic-details-registration__cell basic-details-registration__cell_align_right">
                            <div class="b-form">
                                <label class="b-form__label">Дата начала</label>
                            </div>
                        </div>
                        <div class="basic-details-registration__cell">
                            <div class="b-form">
                                <input class="b-form__input" value="24.12.1993" style="width:90px"><a
                                    class="b-form__icon b-form__icon_mod_calendar"></a>
                            </div>
                        </div>
                    </div>
                    <div class="basic-details-registration__row">
                        <div class="basic-details-registration__cell basic-details-registration__cell_align_right">
                            <div class="b-form">
                                <label class="b-form__label">Дата окончания</label>
                            </div>
                        </div>
                        <div class="basic-details-registration__cell">
                            <div class="b-form">
                                <input class="b-form__input" value="24.12.2023" style="width:90px"><a
                                    class="b-form__icon b-form__icon_mod_calendar"></a>
                            </div>
                        </div>
                    </div>
                    <div class="basic-details-registration__row">
                        <div class="basic-details-registration__cell basic-details-registration__cell_align_right">
                            <div class="b-form">
                                <label class="b-form__label">Дата убытия</label>
                            </div>
                        </div>
                        <div class="basic-details-registration__cell">
                            <div class="b-form">
                                <input class="b-form__input" value="    .    .    " style="width:90px"><a
                                    class="b-form__icon b-form__icon_mod_calendar"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="basic-details-registration-flat">
            <div class="basic-details-registration-flat__body">
                <div class="basic-details-registration-flat__item">
                    <div class="b-form">
                        <label class="b-form__label">Квартир (а, ы)</label>
                        <input class="b-form__input" value="47" style="width:80px">
                    </div>
                </div>
                <div class="basic-details-registration-flat__item">
                    <div class="b-form">
                        <label class="b-form__label">Комнат (а, ы)</label>
                        <input class="b-form__input" value="" style="width:80px">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="basic-details-registration">
        <div class="b-title">
            <h2 class="b-title__text">Место прибытия:</h2>
        </div>
        <div class="basic-details-registration__body">
            <div class="basic-details-registration__left">
                <div class="b-form-table">
                    <div class="b-form-table__body">
                        <div class="b-form-table__row">
                            <div class="b-form-table__cell">
                                <p class="b-form-table__label">Страна</p>
                            </div>
                            <div class="b-form-table__cell">
                                <input class="b-form-table__input" value="Россия">
                            </div>
                        </div>
                        <div class="b-form-table__row">
                            <div class="b-form-table__cell">
                                <p class="b-form-table__label">Субъект Федерации</p>
                            </div>
                            <div class="b-form-table__cell">
                                <input class="b-form-table__input" value="Сахалинская область">
                            </div>
                        </div>
                        <div class="b-form-table__row">
                            <div class="b-form-table__cell">
                                <p class="b-form-table__label">Город</p>
                            </div>
                            <div class="b-form-table__cell">
                                <input class="b-form-table__input" value="Корсаков">
                            </div>
                        </div>
                        <div class="b-form-table__row">
                            <div class="b-form-table__cell">
                                <p class="b-form-table__label">Улица</p>
                            </div>
                            <div class="b-form-table__cell">
                                <input class="b-form-table__input" value="Краснофлотская улица">
                            </div>
                        </div>
                        <div class="b-form-table__row">
                            <div class="b-form-table__cell">
                                <p class="b-form-table__label">Дом</p>
                            </div>
                            <div class="b-form-table__cell">
                                <input class="b-form-table__input" value="дом 6">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="basic-details-registration__right">
                <div class="basic-details-registration__table">
                    <div class="basic-details-registration__row">
                        <div class="basic-details-registration__cell basic-details-registration__cell_align_right">
                            <div class="b-form">
                                <label class="b-form__label">Тип события</label>
                            </div>
                        </div>
                        <div class="basic-details-registration__cell">
                            <select class="b-form__select" style="width:170px">
                                <option></option>
                                <option></option>
                            </select>
                        </div>
                    </div>
                    <div class="basic-details-registration__row">
                        <div class="basic-details-registration__cell basic-details-registration__cell_align_right">
                            <div class="b-form">
                                <label class="b-form__label">Причина прибытия</label>
                            </div>
                        </div>
                        <div class="basic-details-registration__cell">
                            <div class="b-form">
                                <input class="b-form__input" style="width:170px">
                            </div>
                        </div>
                    </div>
                    <div class="basic-details-registration__row">
                        <div class="basic-details-registration__cell basic-details-registration__cell_align_right">
                            <div class="b-form">
                                <label class="b-form__label">Дата прибытия</label>
                            </div>
                        </div>
                        <div class="basic-details-registration__cell">
                            <div class="b-form">
                                <input class="b-form__input" value="24.12.1993" style="width:90px"><a
                                    class="b-form__icon b-form__icon_mod_calendar"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="basic-details-registration-flat">
            <div class="basic-details-registration-flat__body">
                <div class="basic-details-registration-flat__item">
                    <div class="b-form">
                        <label class="b-form__label">Квартир (а, ы)</label>
                        <input class="b-form__input" value="47" style="width:80px">
                    </div>
                </div>
                <div class="basic-details-registration-flat__item">
                    <div class="b-form">
                        <label class="b-form__label">Комнат (а, ы)</label>
                        <input class="b-form__input" value="" style="width:80px">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="basic-details-registration">
        <div class="b-title">
            <h2 class="b-title__text">Место убытия:</h2>
        </div>
        <div class="basic-details-registration__body">
            <div class="basic-details-registration__left">
                <div class="b-form-table">
                    <div class="b-form-table__body">
                        <div class="b-form-table__row">
                            <div class="b-form-table__cell">
                                <p class="b-form-table__label">Страна</p>
                            </div>
                            <div class="b-form-table__cell">
                                <input class="b-form-table__input" value="Россия">
                            </div>
                        </div>
                        <div class="b-form-table__row">
                            <div class="b-form-table__cell">
                                <p class="b-form-table__label">Субъект Федерации</p>
                            </div>
                            <div class="b-form-table__cell">
                                <input class="b-form-table__input" value="Сахалинская область">
                            </div>
                        </div>
                        <div class="b-form-table__row">
                            <div class="b-form-table__cell">
                                <p class="b-form-table__label">Город</p>
                            </div>
                            <div class="b-form-table__cell">
                                <input class="b-form-table__input" value="Корсаков">
                            </div>
                        </div>
                        <div class="b-form-table__row">
                            <div class="b-form-table__cell">
                                <p class="b-form-table__label">Улица</p>
                            </div>
                            <div class="b-form-table__cell">
                                <input class="b-form-table__input" value="Краснофлотская улица">
                            </div>
                        </div>
                        <div class="b-form-table__row">
                            <div class="b-form-table__cell">
                                <p class="b-form-table__label">Дом</p>
                            </div>
                            <div class="b-form-table__cell">
                                <input class="b-form-table__input" value="дом 6">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="basic-details-registration__right">
                <div class="basic-details-registration__table">
                    <div class="basic-details-registration__row">
                        <div class="basic-details-registration__cell basic-details-registration__cell_align_right">
                            <div class="b-form">
                                <label class="b-form__label">Тип события</label>
                            </div>
                        </div>
                        <div class="basic-details-registration__cell">
                            <select class="b-form__select" style="width:170px">
                                <option></option>
                                <option></option>
                            </select>
                        </div>
                    </div>
                    <div class="basic-details-registration__row">
                        <div class="basic-details-registration__cell basic-details-registration__cell_align_right">
                            <div class="b-form">
                                <label class="b-form__label">Причина убытия</label>
                            </div>
                        </div>
                        <div class="basic-details-registration__cell">
                            <div class="b-form">
                                <input class="b-form__input" style="width:170px">
                            </div>
                        </div>
                    </div>
                    <div class="basic-details-registration__row">
                        <div class="basic-details-registration__cell basic-details-registration__cell_align_right">
                            <div class="b-form">
                                <label class="b-form__label">Дата убытия</label>
                            </div>
                        </div>
                        <div class="basic-details-registration__cell">
                            <div class="b-form">
                                <input class="b-form__input" value="24.12.1993" style="width:90px"><a
                                    class="b-form__icon b-form__icon_mod_calendar"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="basic-details-registration-flat">
            <div class="basic-details-registration-flat__body">
                <div class="basic-details-registration-flat__item">
                    <div class="b-form">
                        <label class="b-form__label">Квартир (а, ы)</label>
                        <input class="b-form__input" value="47" style="width:80px">
                    </div>
                </div>
                <div class="basic-details-registration-flat__item">
                    <div class="b-form">
                        <label class="b-form__label">Комнат (а, ы)</label>
                        <input class="b-form__input" value="" style="width:80px">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
