<ngx-smart-modal #myModal [identifier]="id" [closable]="false" (onClose)="closed.emit()"
                 (onDismiss)="closed.emit()">
    <div class="b-popup" [ngClass]="clazz">
        <div class="b-popup__wrap">
            <div class="b-popup__body">
                <div class="b-popup__header">
                    <h2 class="b-popup__topic">{{title}}</h2>
                    <button type="button" class="close" aria-label="Close" (click)="myModal.close()" *ngIf="closable">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="b-popup__content">
                    <ng-content></ng-content>
                </div>
            </div>
        </div>
    </div>
</ngx-smart-modal>
