<fi-table [width]="width" wrapClass="b-table__wrap_row_12"
          (sort)="load.emit($event)" [sorts]="sorts" [headers]="headers" #at>
    <tr class="b-table__row" *ngFor="let p of data?.data; trackBy: trackById" (click)="rowClick.emit(p)"
        (dblclick)="rowDblclick.emit(p)" [ngClass]="getClass(p)">
        <td class="b-table__cell">
            <p class="b-table__text">{{p.fio}}</p>
        </td>
        <td class="b-table__cell b-table__cell_align_center" style="width:10.4%">
            <p class="b-table__text b-table__text_align_center">{{p.birthDate}}</p>
        </td>
        <td class="b-table__cell b-table__cell_align_center" style="width:6.9%">
            <p class="b-table__text b-table__text_align_center">{{p.sex}}</p>
        </td>
        <td class="b-table__cell b-table__cell_align_center" style="width:9.1%">
            <p class="b-table__text b-table__text_align_center">{{p.snils}}</p>
        </td>
        <td class="b-table__cell b-table__cell_align_center" style="width:9.5%">
            <p class="b-table__text b-table__text_align_center">{{getDoc(p)}}</p>
        </td>
        <td class="b-table__cell b-table__cell_align_center">
            <p class="b-table__text b-table__text_align_center">{{p.factAdr}}</p>
        </td>
        <td class="b-table__cell b-table__cell_align_center">
            <p class="b-table__text b-table__text_align_center">{{p.regAdr}}</p>
        </td>
    </tr>
    <tr class="b-table__row" *fiEmpty="maxRows - (data?.data?.length || 0)">
        <td class="b-table__cell" *fiEmpty="7">
    </tr>
</fi-table>
<div class="custody-person-search__count">
    <div [ngSwitch]="data?.count">
        <ng-container *ngSwitchCase="0"> Ничего не найдено.</ng-container>
        <ng-container *ngSwitchCase="null"></ng-container>
        <ng-container *ngSwitchDefault>Найдено {{data.count}} записей.</ng-container>
    </div>
    <div class="b-form">
        <label class="b-form__label b-form__label_align_right" for="actualShow">Актуальные</label>
        <div class="b-form__checkbox">
            <input class="b-form__checkbox-input" id="actualShow" type="checkbox" [checked]="actual"
                   (change)="actualChange.emit($event.target.checked)">
            <label class="b-form__checkbox-label" for="actualShow"></label>
        </div>
    </div>
</div>
<fi-pgntr [page]="data" (changed)="load.emit($event)"></fi-pgntr>

