:root {
    --accounting-header-background: linear-gradient(to bottom,  #b1b4ce 0%, #8f91ad 100%);
	--accounting-header-font: normal 36px/1.3 'Arial';
}
:root[theme='visually_impaired_1'] {
	--accounting-header-background: linear-gradient(to bottom,  #b1b4ce 0%, #8f91ad 100%);
	--accounting-header-font: normal 60px/1.3 'Arial';
}
:root[theme='visually_impaired_2'] {
	--accounting-header-background: #000;
	--accounting-header-font: normal 60px/1.3 'Arial';
}

.accounting-header
{
  &__body
  {
    padding: 27px 0 31px;

    background: var(--accounting-header-background);
  }
  &__topic
  {
    font: var(--accounting-header-font);

    margin: 0;

    text-align: center;

    color: #fff;
  }
}
