.footer
{
  background: #e5e4e5;

  &__body
  {
    display: flex;

    box-sizing: border-box;
    width: 1280px;
    margin: 0 auto;
    padding: 0 25px;

    align-items: center;
    justify-content: space-between;
  }
  &__cell
  {
    //
  }
}
