.birth-death-data
{
  &__body
  {
    //
  }
  &__row
  {
    display: flex;

    margin: 10px 0 0;

    &:first-child
    {
      margin: 0;
    }
  }
  &__cell
  {
    margin: 0 0 0 10px;

    &:first-child
    {
      margin: 0;
    }
  }
}
