:root {
	--birth-death-parents-label-font: normal 13px/1.3 'Arial';
	--birth-death-parents-label-color: #000;
}
:root[theme='visually_impaired_1'] {
	--birth-death-parents-label-font: normal 15px/1.3 'Arial';
	--birth-death-parents-label-color: #000;
}
:root[theme='visually_impaired_2'] {
	--birth-death-parents-label-font: normal 15px/1.3 'Arial';
	--birth-death-parents-label-color: #fff;
}

.birth-death-parents
{
  margin: 11px 0 19px;

  &__body
  {
    display: flex;

    margin: 14px 0 0;
  }
  &__left
  {
    //
  }
  &__right
  {
    margin: 0 0 0 36px;
  }
  &__label
  {
    font: var(--birth-death-parents-label-font);

    display: block;

    margin: 0 0 6px;

    color: var(--birth-death-parents-label-color);
  }
  & .b-form-table__body
  {
    width: 412px;
  }
}
