<div class="b-popup-nav__body">
    <div class="b-popup-nav__item" *ngIf="!nosave">
        <button class="b-button" (click)="save.emit()" [disabled]="!current">
            <div class="b-button__icon b-button__icon_mod_ok"></div>
            <div class="b-button__text">Сохранить</div>
        </button>
    </div>
    <div class="b-popup-nav__item" [style.visibility]="nocreate ? 'hidden' : 'visible'">
        <a class="b-button" (click)="create()">
            <div class="b-button__icon b-button__icon_mod_create"></div>
            <div class="b-button__text">Создать</div>
        </a>
    </div>
    <div class="b-popup-nav__item" *ngIf="nosave" style="visibility: hidden">
        <button class="b-button">
            <div class="b-button__icon b-button__icon_mod_ok"></div>
            <div class="b-button__text">Сохранить</div>
        </button>
    </div>
    <div class="b-popup-nav__item">
        <fi-custody-nav [cur]="current"></fi-custody-nav>
    </div>
</div>
