:root {
	--user-list-legend-font: normal 13px/1.3 'Arial';
	--user-list-legend-color: #9194d6;
	--user-list-legend-before-background: #9699d8;

}
:root[theme='visually_impaired_1'] {
	--user-list-legend-font: normal 16px/1.3 'Arial';
	--user-list-legend-color: #9194d6;
	--user-list-legend-before-background: #9699d8;
}
:root[theme='visually_impaired_2'] {
	--user-list-legend-font: normal 16px/1.3 'Arial';
	--user-list-legend-color: #fff;
	--user-list-legend-before-background: #000;
}

.user-list
{
  &__legend
  {
    font: var(--user-list-legend-font);

    display: flex;

    margin: 0;

    color: var(--user-list-legend-color);

    align-items: center;

    &:before
    {
      display: block;

      width: 8px;
      height: 8px;
      margin: 0 5px 0 0;

      content: '';

      border-radius: 50%;
      background: var(--user-list-legend-before-background);
    }
  }
}
