<div class="custody-filter">
    <form class="custody-filter__body" (ngSubmit)="search.emit()">
        <div class="custody-filter__item">
            <a class="custody-filter__icon"></a>
        </div>
        <div class="custody-filter__item">
            <label class="custody-filter__label">Фамилия</label><br/>
            <input class="b-form__input" name="lastName" [(ngModel)]="model.lastName" style="width: 158px"/>
        </div>
        <div class="custody-filter__item">
            <label class="custody-filter__label">Имя</label><br/>
            <input class="b-form__input" name="firstName" [(ngModel)]="model.firstName" style="width: 158px"/>
        </div>
        <div class="custody-filter__item">
            <label class="custody-filter__label">Отчество</label><br/>
            <input class="b-form__input" name="middleName" [(ngModel)]="model.middleName" style="width: 158px"/>
        </div>
        <div class="custody-filter__item">
            <label class="custody-filter__label">Дата рождения</label><br/>
            <div class="b-form">
                <fi-calendar name="birthDate" [(ngModel)]="model.birthDate" [width]="90"></fi-calendar>
            </div>
        </div>
        <div class="custody-filter__item">
            <label class="custody-filter__label">СНИЛС человека</label><br/>
            <input class="b-form__input" name="docNumber" [ngModel]="model.snils" style="width: 176px"
                   (change)="snilsChanged($event)" fiMaskSnils>
        </div>
        <div class="custody-filter__item custody-filter__buttons">
            <button class="b-button b-button_color_blue custody-filter__search">
                <div class="b-button__icon b-button__icon_mod_search"></div>
                <div class="b-button__text">Поиск</div>
            </button>
        </div>
        <div class="custody-filter__item">
            <button class="b-button b-button_color_blue custody-filter__search"
                    (click)="clear.emit()" type="button" title="Очистить">
                <div class="b-button__icon b-button__icon_mod_clear"></div>
            </button>
        </div>
    </form>
</div>


