<fi-table [title]="'Изменения персональных данных:'" wrapClass="b-table__wrap_row_5" [headers]="fioHeaders">
    <tr class="b-table__row" [class.b-table__row_color_blue]="!f.actual" *ngFor="let f of data.fios"
        (dblclick)="toLd(f.id)">
        <td class="b-table__cell b-table__cell_align_center"><p class="b-table__text">{{f.lastName}}</p></td>
        <td class="b-table__cell b-table__cell_align_center"><p class="b-table__text">{{f.firstName}}</p></td>
        <td class="b-table__cell b-table__cell_align_center"><p class="b-table__text">{{f.middleName}}</p></td>
        <td class="b-table__cell b-table__cell_align_center"><p class="b-table__text">{{f.sex}}</p></td>
        <td class="b-table__cell b-table__cell_align_center"><p class="b-table__text">{{f.birthDate}}</p></td>
        <td class="b-table__cell b-table__cell_align_center"><p class="b-table__text">{{f.birthPlace}}</p></td>
        <td class="b-table__cell b-table__cell_align_center"><p class="b-table__text">{{f.startDate}}</p></td>
    </tr>
    <tr class="b-table__row" *fiEmpty="4 - (data.fios?.length||0)">
        <td class="b-table__cell" *fiEmpty="7"></td>
    </tr>
</fi-table>
<div class="b-indent b-indent_s_20"></div>
<fi-table [title]="'Документ, удостоверяющий личность:'" wrapClass="b-table__wrap_row_5" [headers]="docHeaders">
    <tr class="b-table__row" [class.b-table__row_color_blue]="!d.active" *ngFor="let d of data.docs">
        <td class="b-table__cell b-table__cell_align_center"><p class="b-table__text">{{d.name}}</p></td>
        <td class="b-table__cell b-table__cell_align_center"><p class="b-table__text">{{d.series}}</p></td>
        <td class="b-table__cell b-table__cell_align_center"><p class="b-table__text">{{d.number}}</p></td>
        <td class="b-table__cell b-table__cell_align_center"><p class="b-table__text">{{d.whogive}}</p></td>
        <td class="b-table__cell b-table__cell_align_center"><p class="b-table__text">{{d.depCode}}</p></td>
        <td class="b-table__cell b-table__cell_align_center"><p class="b-table__text">{{d.issueDate}}</p></td>
    </tr>
    <tr class="b-table__row" *fiEmpty="4 - (data.docs?.length||0)">
        <td class="b-table__cell" *fiEmpty="6"></td>
    </tr>
</fi-table>
<div class="b-indent b-indent_s_20"></div>
<fi-table [title]="'Адрес:'" wrapClass="b-table__wrap_row_5" [headers]="regHeaders">
    <tr class="b-table__row" [class.b-table__row_color_blue]="noactive(r.endDate)" *ngFor="let r of data.regs">
        <td class="b-table__cell b-table__cell_align_center"><p class="b-table__text">{{r.type}}</p></td>
        <td class="b-table__cell b-table__cell_align_center"><p class="b-table__text">{{r.address}}</p></td>
        <td class="b-table__cell b-table__cell_align_center"><p class="b-table__text">{{r.startDate}}</p></td>
        <td class="b-table__cell b-table__cell_align_center"><p class="b-table__text">{{r.endDate}}</p></td>
    </tr>
    <tr class="b-table__row" *fiEmpty="4 - (data.regs?.length||0)">
        <td class="b-table__cell" *fiEmpty="4"></td>
    </tr>
</fi-table>
