<header class="header">
    <div class="header__wrap">
        <div class="header__body">
            <div class="header__cell">
                <div class="header-title">
                    <p class="header-title__text">{{title}}</p>
                </div>
            </div>
            <div class="header__cell">
                <div class="header-menu">
                    <div class="header-menu__body">
                        <div class="header-menu__item">
                            <ng-container [ngSwitch]="!urls.mainUrl">
                                <button class="b-button" routerLink="/" *ngSwitchCase="true">
                                    <div class="b-button__icon b-button__icon_mod_{{bt.Home}}"></div>
                                    <div class="b-button__text">{{btt[bt.Home]}}</div>
                                </button>
                                <button class="b-button" [fiExternalUrl]="urls.mainUrl" *ngSwitchDefault>
                                    <div class="b-button__icon b-button__icon_mod_{{bt.Home}}"></div>
                                    <div class="b-button__text">{{btt[bt.Home]}}</div>
                                </button>
                            </ng-container>
                        </div>
                        <div class="header-menu__item" [ngClass]="(b.mclazz ? 'header-menu__item_mod_'+b.mclazz:'')"
                             *ngFor="let b of buttons$|async; let i=index">
                            <div ngbDropdown *ngIf="b.menu; else simple" #ctxm="ngbDropdown">
                                <button class="b-button" [disabled]="(disabled$|async)[i] || !b.menu.length"
                                        ngbDropdownToggle>
                                    <div class="b-button__icon" [ngClass]="'b-button__icon_mod_'+b.clazz"></div>
                                    <div class="b-button__text">{{b.title}}</div>
                                </button>
                                <div ngbDropdownMenu class="header-submenu">
                                    <div class="header-submenu__body">
                                        <div class="header-submenu__item" *ngFor="let a of b.menu">
                                            <a [innerHTML]="a.title" (click)="ctxm.close(); a.click()"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <ng-template #simple>
                                <button class="b-button" (click)="b.click()" [disabled]="(disabled$|async)[i]">
                                    <div class="b-button__icon" [ngClass]="'b-button__icon_mod_'+b.clazz"></div>
                                    <div class="b-button__text">{{b.title}}</div>
                                </button>
                            </ng-template>
                        </div>
                        <div class="header-menu__item header-menu__item_mod_{{bt.Exit}}">
                            <button class="b-button" [fiExternalUrl]="logoutUrl">
                                <div class="b-button__icon b-button__icon_mod_{{bt.Exit}}"></div>
                                <div class="b-button__text">{{btt[bt.Exit]}}</div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

