:root {
}
:root[theme='visually_impaired_1'] {
}
:root[theme='visually_impaired_2'] {
    --b-flex-color:#ffffff;
}
.b-flex {
    display: flex;
    color:var(--b-flex-color);

    &_w_100 {
        width: 100%;
    }

    &_mod {
        &_indent {
            & > div {
                margin: 0 10px;

                &:first-child {
                    margin-left: 0;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        &_indent-2 {
            & > div {
                margin: 0 2px;

                &:first-child {
                    margin-left: 0;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        &_inline {
            display: inline-flex;
        }
    }

    &_align {
        &_between {
            justify-content: space-between;
        }

        &_right {
            justify-content: flex-end;
        }
    }

    &_valign {
        &_center {
            align-items: center;
        }

        &_bottom {
            align-items: flex-end;
        }

        &_top {
            align-items: flex-start;
        }
    }

    &__item {
        &_w_100 {
            width: 100%
        }

        &_align_center {
            text-align: center
        }

        &_shrink_0 {
            flex-shrink: 0
        }
    }
}
