:root {
    --b-form-table-body-background: #fff;
    --b-form-table-topic-font: normal 14px/1.3 'Arial';
    --b-form-table-topic-color: #595c91;
    --b-form-table-cell-font-size: 14px;
    --b-form-table-cell-before-min-height: 29px;
    --b-form-table-label-font: bold 13px/1.3 'Arial';
    --b-form-table-label-color: #000;
    --b-form-table-input-font: normal 13px/normal 'Arial';
    --b-form-table-cell-disabled-background: #ebebe4;

    --b-form-table-input-color: #000;
    --b-form-table-input-background-color: #fff;
}

:root[theme='visually_impaired_1'] {
    --b-form-table-body-background: #fff;
    --b-form-table-topic-font: normal 18px/1.3 'Arial';
    --b-form-table-topic-color: #595c91;
    --b-form-table-cell-font-size: 16px;
    --b-form-table-cell-before-min-height: 32px;
    --b-form-table-label-font: bold 15px/1.3 'Arial';
    --b-form-table-label-color: #000;
    --b-form-table-input-font: normal 14px/normal 'Arial';
    --b-form-table-cell-disabled-background: #ebebe4;

    --b-form-table-input-color: #000;
    --b-form-table-input-background-color: #fff;
}

:root[theme='visually_impaired_2'] {
    --b-form-table-body-background: #000;
    --b-form-table-topic-font: normal 18px/1.3 'Arial';
    --b-form-table-topic-color: #fff;
    --b-form-table-cell-font-size: 16px;
    --b-form-table-cell-before-min-height: 32px;
    --b-form-table-label-font: bold 15px/1.3 'Arial';
    --b-form-table-label-color: #fff;
    --b-form-table-input-font: normal 14px/normal 'Arial';
    --b-form-table-cell-disabled-background: #000;

    --b-form-table-input-color: #fff;
    --b-form-table-input-background-color: #000;
}

.b-form-table {
    // margin: 14px 0;
    &__wrap {
        overflow-x: hidden;
        overflow-y: auto;

        &_row {
            &_5 {
                max-height: 149px;
            }
        }
    }

    &__body {
        // overflow: hidden;
        box-sizing: border-box;
        width: 693px;

        border: 1px solid #c4c4c4;
        border-radius: 2px;
        background: var(--b-form-table-body-background);
    }

    &__topic {
        font: var(--b-form-table-topic-font);

        margin: 0 0 7px;

        color: var(--b-form-table-topic-color);

        &_mod {
            &_icon {
                display: flex;

                margin: 20px 0 7px;

                align-items: center;
            }
        }
    }

    &__row {
        display: table-row;
    }

    &__cell {
        font-size: var(--b-form-table-cell-font-size);

        display: table-cell;

        width: 516px;

        border-top: 1px solid #c4c4c4;

        &.disabled {
            background: var(--b-form-table-cell-disabled-background) !important;
        }

        &:before {
            display: inline-block;

            width: 0;
            min-height: var(--b-form-table-cell-before-min-height);

            content: '';
            vertical-align: middle;
        }

        & > * {
            display: inline-block !important;

            vertical-align: middle;
        }

        .b-form-table__row:first-child & {
            border-top: none;
        }

        &:first-child {
            width: 175px;

            border-right: 1px solid #ededed;
        }

        .ng-select .ng-select-container {
            border-color: #fff !important;
        }

        .ng-dropdown-panel.ng-select-bottom {
            margin-top: 0;
        }

        .ng-dropdown-panel.ng-select-top {
            margin-bottom: 0;
        }

        .ng-select.ng-select-opened > .ng-select-container .ng-arrow-wrapper {
            border-color: #c7c9db !important;
        }

        .ng-select.ng-select-focused:not(.ng-select-opened) .ng-arrow-wrapper {
            border-color: #c7c9db !important;
        }

        .ng-select .ng-select-container {
            min-height: 29px;
        }

        .ng-select.ng-select-single .ng-select-container {
            height: 29px;
        }
    }

    &__label {
        font: var(--b-form-table-label-font);

        margin: 0;
        padding: 0 10px;

        white-space: nowrap;

        color: var(--b-form-table-label-color);
    }

    &__input {
        font: var(--b-form-table-input-font);

        box-sizing: border-box;
        width: 100%;
        height: 29px;
        // padding: 0 20px 0 47px;
        padding: 0 7px;

        border: none;
        outline: none;

        color: var(--b-form-table-input-color);
        background-color: var(--b-form-table-input-background-color);
    }
}
