.b-indent
{
  margin: 20px 0;

  &_s
  {
    &_5
    {
      margin: 5px 0 0;
    }
    &_10
    {
      margin: 10px 0 0;
    }
    &_15
    {
      margin: 15px 0 0;
    }
    &_20
    {
      margin: 20px 0 0;
    }
    &_25
    {
      margin: 25px 0 0;
    }
    &_30
    {
      margin: 30px 0 0;
    }
    &_35
    {
      margin: 35px 0 0;
    }
    &_40
    {
      margin: 40px 0 0;
    }
    &_45
    {
      margin: 45px 0 0;
    }
    &_50
    {
      margin: 50px 0 0;
    }
    &_55
    {
      margin: 55px 0 0;
    }
    &_60
    {
      margin: 60px 0 0;
    }
  }
}
