:root {
	--b-popup-body-background: linear-gradient(to bottom,  #b1b4cd 0%, #8f92ad 100%);
	--b-popup-topic-font: normal 18px/1 'Arial';
	--b-popup-content-background: #ebebeb;
	--b-popup-confirm-text-font: normal 18px/1.3 'Arial';
	--b-popup-confirm-text-color: #525670;
}
:root[theme='visually_impaired_1'] {
	--b-popup-body-background: linear-gradient(to bottom,  #b1b4cd 0%, #8f92ad 100%);
	--b-popup-topic-font: normal 20px/1 'Arial';
	--b-popup-content-background: #ebebeb;
	--b-popup-confirm-text-font: normal 20px/1.3 'Arial';
	--b-popup-confirm-text-color: #525670;
}
:root[theme='visually_impaired_2'] {
	--b-popup-body-background: #000;
	--b-popup-topic-font: normal 20px/1 'Arial';
	--b-popup-content-background: #000;
	--b-popup-confirm-text-font: normal 20px/1.3 'Arial';
	--b-popup-confirm-text-color: #fff;
}

.b-popup
{
  &__body
  {
    display: inline-block;
  }
  &__header
  {
    display: flex;

    box-sizing: border-box;
    min-height: 54px;
    padding: 12px 12px;

    // background: #b1b4cd;
    background: var(--b-popup-body-background);

    justify-content: center;
    align-items: center;
  }
  &__topic
  {
    font: var(--b-popup-topic-font);

    margin: 0;

    text-align: center;

    color: #fff;
  }
  &__content
  {
    padding: 12px;
    // padding: 20px;

    background: var(--b-popup-content-background);
  }
  &-nav
  {
    margin: 12px 0 0;

    &__body
    {
      display: flex;

      margin: 0 -5px;

      align-items: center;

      .b-popup-nav_align_right &
      {
        justify-content: flex-end;
      }
      .b-popup-nav_align_center &
      {
        justify-content: center;
      }
    }
    &__item
    {
      margin: 0 5px;
    }
  }
  &-confirm
  {
    display: flex;

    width: 348px;
    min-height: 70px;

    text-align: center;

    align-items: center;
    justify-content: center;

    &__text
    {
      font: var(--b-popup-confirm-text-font);

      margin: 6px 0 4px;

      color: var(--b-popup-confirm-text-color);
    }
  }
}
