:root {
    --b-table-cell-row_state_active-background: #e1e6f4;
    --b-table-cell-before-min-height: 26px;
    --b-table-text-font: normal 13px/1 'Arial';
    --b-table-text-color: #000;

    --b-table-table-background: #fff;

    --b-table-table-cell-border-top: 1px solid #e1e1e1;
    --b-table-table-cell-border-left: 1px solid #e1e1e1;

    --b-table__head-background: linear-gradient(to bottom, #ebebeb 0%, #d9d9d9 100%);

    --b-table-wrap-row-3-max-height: 110px;
    --b-table-wrap-row-4-max-height: 147px;
    --b-table-wrap-row-5-max-height: 184px;
    --b-table-wrap-row-6-max-height: 221px;
    --b-table-wrap-row-7-max-height: 258px;
    --b-table-wrap-row-9-max-height: 332px;
    --b-table-wrap-row-10-max-height: 369px;
    --b-table-wrap-row-11-max-height: 406px;
    --b-table-wrap-row-12-max-height: 443px;

    --b-table-row-bg-green-background: #cde2cd;
    --b-table-row-bg-blue-background: #e1e6f4;
    --b-table-row-bg-lazur-background: #d7eef4;
    --b-table-row-bg-pink-background: #f4dbd7;
    --b-table-row-bg-pink-new-background: #ecdae8;

    --b-table-table-text-a-color: #000;

    --b-table-cell-bg-green: #bdd2bd;
}

:root[theme='visually_impaired_1'] {
    --b-table-cell-row_state_active-background: #e1e9ff;
    --b-table-cell-before-min-height: 45px;
    --b-table-text-font: normal 18px/1.3 'Arial';
    --b-table-text-color: #000;

    --b-table-table-background: #fff;

    --b-table-table-cell-border-top: 1px solid #e1e1e1;
    --b-table-table-cell-border-left: 1px solid #e1e1e1;

    --b-table__head-background: linear-gradient(to bottom, #ebebeb 0%, #d9d9d9 100%);

    --b-table-wrap-row-3-max-height: 168px;
    --b-table-wrap-row-4-max-height: 224px;
    --b-table-wrap-row-5-max-height: 280px;
    --b-table-wrap-row-6-max-height: 336px;
    --b-table-wrap-row-7-max-height: 392px;
    --b-table-wrap-row-9-max-height: 504px;
    --b-table-wrap-row-10-max-height: 560px;
    --b-table-wrap-row-11-max-height: 616px;
    --b-table-wrap-row-12-max-height: 672px;

    --b-table-row-bg-green-background: #cde2cd;
    --b-table-row-bg-blue-background: #e1e6f4;
    --b-table-row-bg-lazur-background: #d7eef4;
    --b-table-row-bg-pink-background: #f4dbd7;
    --b-table-row-bg-pink-new-background: #ecdae8;

    --b-table-table-text-a-color: #000;

    --b-table-cell-bg-green: #bdd2bd;
}

:root[theme='visually_impaired_2'] {
    --b-table-cell-row_state_active-background: #343434;
    --b-table-cell-before-min-height: 45px;
    --b-table-text-font: normal 18px/1.3 'Arial';
    --b-table-text-color: #fff;

    --b-table-table-background: #000;

    --b-table-table-cell-border-top: 1px solid #888888;
    --b-table-table-cell-border-left: 1px solid #888888;

    --b-table__head-background: #000000;

    --b-table-wrap-row-3-max-height: 168px;
    --b-table-wrap-row-4-max-height: 224px;
    --b-table-wrap-row-5-max-height: 280px;
    --b-table-wrap-row-6-max-height: 336px;
    --b-table-wrap-row-7-max-height: 392px;
    --b-table-wrap-row-9-max-height: 504px;
    --b-table-wrap-row-10-max-height: 560px;
    --b-table-wrap-row-11-max-height: 616px;
    --b-table-wrap-row-12-max-height: 672px;

    --b-table-row-bg-green-background: #343434;
    --b-table-row-bg-blue-background: #686868;
    --b-table-row-bg-lazur-background: #808080;
    --b-table-row-bg-pink-background: #8e8e8e;
    --b-table-row-bg-pink-new-background: #969696;
    --b-table-table-text-a-color: #fff;

    --b-table-cell-bg-green: #2c2c2c;

    --thead-table-cell-outline: 1px solid #fff;
    --thead-tr-td-outline-offset: -1px;
}

thead tr td {
    outline: var(--thead-table-cell-outline);
    outline-offset: var(--thead-table-cell-outline-offset);
}

.b-table {
    &_mod {
        &_border {
            // overflow: hidden;
            border: 1px solid #c4c4c4;
            border-radius: 2px;
        }
    }

    &__wrap {
        &_row {
            &_3 {
                overflow-x: auto;
                overflow-y: auto;

                max-height: var(--b-table-wrap-row-3-max-height);
                max-width: auto;
            }

            &_4 {
                overflow-x: auto;
                overflow-y: auto;

                max-height: var(--b-table-wrap-row-4-max-height);
                max-width: auto;
            }

            &_5 {
                overflow-x: auto;
                overflow-y: auto;

                max-height: var(--b-table-wrap-row-5-max-height);
                max-width: auto;
            }

            &_6 {
                overflow-x: auto;
                overflow-y: auto;

                max-height: var(--b-table-wrap-row-6-max-height);
                max-width: auto;
            }

            &_7 {
                overflow-x: auto;
                overflow-y: auto;

                max-height: var(--b-table-wrap-row-7-max-height);
                max-width: auto;
            }

            &_9 {
                overflow-x: auto;
                overflow-y: auto;

                max-height: var(--b-table-wrap-row-9-max-height);
                max-width: auto;
            }

            &_10 {
                overflow-x: auto;
                overflow-y: auto;

                max-height: var(--b-table-wrap-row-10-max-height);
                max-width: auto;
            }

            &_11 {
                overflow-x: auto;
                overflow-y: auto;

                max-height: var(--b-table-wrap-row-11-max-height);
                max-width: auto;
            }

            &_12 {
                overflow-x: auto;
                overflow-y: auto;

                max-height: var(--b-table-wrap-row-12-max-height);
                max-width: auto;
            }
        }
    }

    &__topic {
        font: normal 14px/1.3 'Arial';

        margin: 0 0 7px;

        color: #595c91;
    }

    &__table {
        width: 100%;

        border-collapse: collapse;

        background: var(--b-table-table-background);
    }

    &__row {
        cursor: pointer;

        &.dead > .b-table__cell > .b-table__text {
            color: #d00000;
        }

        &.noactual > .b-table__cell > .b-table__text {
            color: #888;
        }

        &_bg {
            &_green {
                background: var(--b-table-row-bg-green-background);
            }

            &_blue {
                background: var(--b-table-row-bg-blue-background);
            }

            &_lazur {
                background: var(--b-table-row-bg-lazur-background);
            }

            &_pink {
                background: var(--b-table-row-bg-pink-background);
            }
            &_pink_new {
                background: var(--b-table-row-bg-pink-new-background);
            }
        }

        .b-table__text {
            a {
                color: var(--b-table-table-text-a-color);
            }
        }

        &:focus {
            outline: none;
        }
    }

    &_state {
        &_active {
            //
        }
    }

    &__cell {
        font-size: 14px;

        padding: 5px 15px 5px 15px;

        border-top: var(--b-table-table-cell-border-top);
        border-left: var(--b-table-table-cell-border-left);

        &:before {
            display: inline-block;

            width: 0;
            min-height: var(--b-table-cell-before-min-height);

            content: '';
            vertical-align: middle;
        }

        &:first-child {
            border-left: none;
        }

        &_bg_green {
            background: var(--b-table-cell-bg-green);
        }

        .b-table__row_state_active & {
            background: var(--b-table-cell-row_state_active-background);
        }

        .b-table__head & {
            font-size: 14px;
            line-height: 0;

            text-align: center;

            border-bottom: 1px solid #e1e1e1;
            background: var(--b-table__head-background);
        }

        .b-table__row:first-child & {
            border-top: none;
        }

        & > * {
            display: inline-block;

            vertical-align: middle;
        }

        &_align {
            &_center {
                text-align: center;
            }

            &_right {
                text-align: right;
            }
        }

        &_mod {
            &_form {
                padding: 0;

                &:before {
                    display: none;
                }

                .b-form__input {
                    height: 36px;
                    border-color: transparent;
                    background: transparent;
                }

                & .b-form__select {
                    height: 36px;
                    padding-left: 15px;

                    border-color: #fff;
                }

                button.b-form__input {
                    text-align: left;
                    cursor: pointer;
                    height: auto;

                    &:focus {
                        border-color: #80bdff;
                        outline: 0;
                        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075), 0 0 5px rgba(128, 189, 255, 0.5);
                    }
                }

                .ng-value > .ng-value-label {
                    white-space: normal;
                }

                .ng-select.ng-select-single .ng-select-container {
                    height: auto;

                    .ng-arrow-wrapper {
                        height: 25px;
                    }
                }

                .ng-select > .ng-select-container {
                    border-color: transparent !important;
                    background: transparent;
                }

                .ng-dropdown-panel.ng-select-bottom {
                    margin-top: 0;
                }

                .ng-dropdown-panel.ng-select-top {
                    margin-bottom: 0;
                }

                .ng-select.ng-select-opened > .ng-select-container .ng-arrow-wrapper {
                    border-color: #c7c9db !important;
                }

                .ng-select.ng-select-focused:not(.ng-select-opened) .ng-arrow-wrapper {
                    border-color: #c7c9db !important;
                }

                .ng-select .ng-select-container {
                    min-height: 36px;
                }

                .ng-select.ng-select-single:not(.full-height) .ng-select-container {
                    height: 36px;
                }

                .ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
                    top: 10px;

                    padding-left: 15px;
                }

                .ng-select .ng-select-container .ng-value-container {
                    padding-left: 15px;
                }

                .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
                    padding: 8px 15px;
                }
            }
        }
    }

    &__text {
        font: var(--b-table-text-font);

        margin: 0;

        color: var(--b-table-text-color);

        .b-table__head & {
            line-height: 1;

            display: inline-block;

            vertical-align: middle;
        }

        &_align {
            &_center {
                text-align: center;
            }
        }

        &_color {
            &_red {
                color: #d00000;
            }
        }

        .b-table__row_color_blue & {
            color: #9194d5;
        }
    }

    &-sort {
        display: inline-block;

        width: 0;
        height: 6px;
        margin: 0 0 0 7px;

        cursor: pointer;
        vertical-align: middle;

        &_mod {
            &_down {
                background: transparent url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOSIgaGVpZ2h0PSI2IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPiAgPHBhdGggZD0iTTcuODcwMzUgMS43NTcwN0w0LjgwNzggNC44NjgyOUM0LjcyMTAyIDQuOTU2NDQgNC42MTg5MyA1IDQuNTAwNSA1Yy0uMTE5NDQgMC0uMjIxNTMtLjA0MzU2LS4zMDgzLS4xMzE3TDEuMTI5NjUgMS43NTcwNkMxLjA0Mjg4IDEuNjY4OSAxIDEuNTY0MTcgMSAxLjQ0Mzg3YzAtLjEyMDMuMDQyODgtLjIyNDAxLjEyOTY1LS4zMTIxNkMxLjIxNjQyIDEuMDQzNTYgMS4zMTg1IDEgMS40Mzc5NSAxaDYuMTI1MTJjLjExODQyIDAgLjIyMDUuMDQzNTYuMzA3MjguMTMxNy4wODY3Ny4wODgxNi4xMjk2NS4xOTE4Ny4xMjk2NS4zMTIxNyAwIC4xMjAzLS4wNDI4OC4yMjUwNC0uMTI5NjUuMzEzMnoiIGZpbGw9IiM3MzczNzIiIHN0cm9rZT0iIzczNzM3MiIgZmlsbC1ydWxlPSJldmVub2RkIi8+PC9zdmc+') left top no-repeat;
                width: 9px;
            }

            &_up {
                background: transparent url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOSIgaGVpZ2h0PSI2IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPiAgPHBhdGggZD0iTTcuODcwMzUgNC4yNDI5M0w0LjgwNzggMS4xMzE3MUM0LjcyMTAyIDEuMDQzNTYgNC42MTg5MyAxIDQuNTAwNSAxYy0uMTE5NDQgMC0uMjIxNTMuMDQzNTYtLjMwODMuMTMxN0wxLjEyOTY1IDQuMjQyOTRDMS4wNDI4OCA0LjMzMTEgMSA0LjQzNTgzIDEgNC41NTYxM2MwIC4xMjAzLjA0Mjg4LjIyNDAxLjEyOTY1LjMxMjE2LjA4Njc3LjA4ODE1LjE4ODg2LjEzMTcxLjMwODMuMTMxNzFoNi4xMjUxMmMuMTE4NDIgMCAuMjIwNS0uMDQzNTYuMzA3MjgtLjEzMTdDNy45NTcxMiA0Ljc4MDEzIDggNC42NzY0MiA4IDQuNTU2MTJjMC0uMTIwMy0uMDQyODgtLjIyNTA0LS4xMjk2NS0uMzEzMnoiIGZpbGw9IiM3MzczNzIiIHN0cm9rZT0iIzczNzM3MiIgZmlsbC1ydWxlPSJldmVub2RkIi8+PC9zdmc+') left top no-repeat;
                width: 9px;
            }
        }
    }
}
