:root {
    --b-title-text-font: normal 14px/1.3 'Arial';
    --b-title-text-color: #595c91;
    --b-title-text-color-red: #d00000;
    --b-title-text-color-black: #000;
}

:root[theme='visually_impaired_1'] {
    --b-title-text-font: normal 34px/1.3 Arial;
    --b-title-text-color: #4e529d;
    --b-title-text-color-red: #d00000;
    --b-title-text-color-black: #000;
}

:root[theme='visually_impaired_2'] {
    --b-title-text-font: normal 34px/1.3 Arial;
    --b-title-text-color: #ffffff;
    --b-title-text-color-red: #ffffff;
    --b-title-text-color-black: #ffffff;
}

.b-title {
    &__text {
        font: var(--b-title-text-font);

        margin: 0 0 7px;

        color: var(--b-title-text-color);

        &_color {
            &_red {
                color: var(b-title-text-color-red);
            }

            &_black {
                color: var(--b-title-text-color-black);
            }
        }

        .b-title_mod_border & {
            border: 1px solid #b8bacb;
            padding: 5px 8px;
        }
    }

    &_mod {
        &_icon {
            display: flex;

            margin: 0 0 7px;

            align-items: center;

            & .b-title__text {
                margin: 0;
            }
        }
    }
}
