.context-menu
{
  position: absolute;

  &__body
  {
    font-size: 0;
    line-height: 0;

    margin: 0 -5px;
  }
  &__item
  {
    display: inline-block;

    margin: 0 5px;

    vertical-align: top;

    border-radius: 4px;

    & > *
    {
      box-shadow: 0 2px 7px 0 rgba(0, 0, 0, .33);
    }
  }
}
