:root {
  --modal-header-background: linear-gradient(to bottom,  #b1b4ce 0%,#8f91ad 100%);
  --modal-title-font: normal 18px/1.3 'Arial';
  --modal-body-color: #000;
}
:root[theme='visually_impaired_1'] {
  --modal-header-background: linear-gradient(to bottom,  #b1b4ce 0%,#8f91ad 100%);
  --modal-title-font: normal 23px/1.3 'Arial';
  --modal-body-color: #000;
}
:root[theme='visually_impaired_2'] {
  --modal-header-background: #000;
  --modal-title-font: normal 23px/1.3 'Arial';
  --modal-body-color: #fff;
}

.modal {
  display: flex !important;

  // align-items: center;
  justify-content: center;

  &-header {
    border: none;
    /*background: #b1b4ce;*/
    background: var(--modal-header-background);
  }

  &-title {
    font: var(--modal-title-font);

    color: #fff;
  }

  &-body {
    color: var(--modal-body-color);
  }
}
.modal-lg
{
  max-width: 1280px;
}

.close
{
  color: #fff;
  outline: none;

  &:hover
  {
    color: #fff;
  }
  &:focus
  {
    color: #fff;
    outline: none;
  }
}
