:root {
    --ng-select-container-color: #333;
    --ng-select-container-opened-background: #fff;
    --ng-select-disabled-background-color: #ebebe4;
    --ng-select-container-background-color: #fff;
    --ng-select-container-placeholder-color: #999;
    --ng-select-multiple-disabled-background-color: #f9f9f9;
    --ng-select-multiple-value-background-color: #ebf5ff;
    --ng-select-multiple-value-disabled-background-color: #f9f9f9;
    --ng-select-multiple-value-hover-background-color: #d1e8ff;
    --ng-select-clear-color: #d0021b;
    --ng-select-clear-color-wrapper: #999;
    --ng-select-dropdown-panel-background-color: #fff;
    --ng-select-option-marked-background-color: #f5faff;
    --ng-select-selected-marked-background-color:#ebf5ff;
    --ng-select-dropdown-items-background-color: #fff;
    --ng-select-dropdown-items-down-color: #333;
    --ng-select-dropdown-items-down-background-color: #ebf5ff;
    --ng-select-dropdown-items-down-marked-color: #333;
    --ng-select-dropdown-items-down-marked-background-color: #f5faff;
    --ng-select-option-disabled-color: #ccc;
    --ng-select-font: normal 13px/normal 'Arial';
    --ng-select-opened-container-background: #fff;
    --ng-dropdown-panel-items-color: #000;
    --ng-dropdown-panel-items-marked-color: #000;
    --ng-dropdown-panel-items-marked-background: #e1e6f4;
    --ng-selected-marked-color: #000;
    --ng-selected-marked-background: #e1e6f4;
    --ng-option-color: #000;
    --ng-font-size: 18px;
    --ng-spinner-font-size: 10px;
    --ng-select-optgroup-color: rgba(0, 0, 0, .54);
    --ng-select-option-color: rgba(0, 0, 0, .87);
    --ng-select-select-container-color: #000;
    --ng-select-multiple-container-color: inherit;
    --ng-dropdown-panel-items-optgroup-background:#f5faff;
}
:root[theme='visually_impaired_1'] {
    --ng-select-container-color: #333;
    --ng-select-container-opened-background: #fff;
    --ng-select-disabled-background-color: #ebebe4;
    --ng-select-container-background-color: #fff;
    --ng-select-container-placeholder-color: #999;
    --ng-select-multiple-disabled-background-color: #f9f9f9;
    --ng-select-multiple-value-background-color: #ebf5ff;
    --ng-select-multiple-value-disabled-background-color: #f9f9f9;
    --ng-select-multiple-value-hover-background-color: #d1e8ff;
    --ng-select-clear-color: #d0021b;
    --ng-select-clear-color-wrapper: #999;
    --ng-select-dropdown-panel-background-color: #fff;
    --ng-select-option-marked-background-color: #f5faff;
    --ng-select-selected-marked-background-color:#ebf5ff;
    --ng-select-dropdown-items-background-color: #fff;
    --ng-select-dropdown-items-down-color: #333;
    --ng-select-dropdown-items-down-background-color: #ebf5ff;
    --ng-select-dropdown-items-down-marked-color: #333;
    --ng-select-dropdown-items-down-marked-background-color: #f5faff;
    --ng-select-option-disabled-color: #ccc;
    --ng-select-font: normal 15px/normal 'Arial';
    --ng-select-opened-container-background: #fff;
    --ng-dropdown-panel-items-color: #000;
    --ng-dropdown-panel-items-marked-color: #000;
    --ng-dropdown-panel-items-marked-background: #e1e6f4;
    --ng-selected-marked-color: #000;
    --ng-selected-marked-background: #e1e6f4;
    --ng-option-color: #000;
    --ng-font-size: 23px;
    --ng-spinner-font-size: 12px;
    --ng-select-optgroup-color: rgba(0, 0, 0, .54);
    --ng-select-option-color: rgba(0, 0, 0, .87);
    --ng-select-select-container-color: #000;
    --ng-select-multiple-container-color: inherit;
    --ng-dropdown-panel-items-optgroup-background:#f5faff;
}
:root[theme='visually_impaired_2'] {
    --ng-select-container-color: #fff;
    --ng-select-container-opened-background: #000000;
    --ng-select-disabled-background-color: #000000;
    --ng-select-container-background-color: #000000;
    --ng-select-container-placeholder-color: #fff;
    --ng-select-multiple-disabled-background-color: #000000;
    --ng-select-multiple-value-background-color: #000000;
    --ng-select-multiple-value-disabled-background-color: #000000;
    --ng-select-multiple-value-hover-background-color: #000000;
    --ng-select-clear-color: #fff;
    --ng-select-clear-color-wrapper: #fff;
    --ng-select-dropdown-panel-background-color: #000000;
    --ng-select-option-marked-background-color: #000000;
    --ng-select-selected-marked-background-color:#000000;
    --ng-select-dropdown-items-background-color: #000000;
    --ng-select-dropdown-items-down-color: #fff;
    --ng-select-dropdown-items-down-background-color: #000000;
    --ng-select-dropdown-items-down-marked-color: #fff;
    --ng-select-dropdown-items-down-marked-background-color: #000000;
    --ng-select-option-disabled-color: #fff;
    --ng-select-font: normal 15px/normal 'Arial';
    --ng-select-opened-container-background: #000000;
    --ng-dropdown-panel-items-color: #fff;
    --ng-dropdown-panel-items-marked-color: #fff;
    --ng-dropdown-panel-items-marked-background: #000000;
    --ng-selected-marked-color: #fff;
    --ng-selected-marked-background: #000000;
    --ng-option-color: #fff;
    --ng-font-size: 23px;
    --ng-spinner-font-size: 12px;
    --ng-select-optgroup-color: #fff;
    --ng-select-option-color: #fff;
    --ng-select-select-container-color: #fff;
    --ng-select-multiple-container-color: #fff;
    --ng-input-color: #fff;
    --ng-dropdown-panel-items-optgroup-background:#000000;
}

.ng-input input{
    color: var(--ng-input-color);
}

.ng-select {
    position: relative;
    display: block;
    box-sizing: border-box;
}

.ng-select div,
.ng-select input,
.ng-select span {
    box-sizing: border-box;
}

.ng-select [hidden] {
    display: none;
}

.ng-select.ng-select-searchable .ng-select-container .ng-value-container .ng-input {
    opacity: 1;
}

.ng-select.ng-select-opened .ng-select-container {
    z-index: 1001;
}

.ng-select.ng-select-disabled .ng-select-container .ng-value-container .ng-placeholder,
.ng-select.ng-select-disabled .ng-select-container .ng-value-container .ng-value {
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;;
}

.ng-select.ng-select-disabled .ng-arrow-wrapper {
    cursor: default;
}

.ng-select.ng-select-filtered .ng-placeholder {
    display: none;
}

.ng-select .ng-select-container {
    position: relative;

    display: flex;
    overflow: hidden;

    width: 100%;

    cursor: default;

    color: var(--ng-select-container-color);
    outline: 0;;
}

.ng-select .ng-select-container .ng-value-container {
    display: flex;

    flex: 1;
}

.ng-select .ng-select-container .ng-value-container .ng-input {
    opacity: 0;
}

.ng-select .ng-select-container .ng-value-container .ng-input > input {
    box-sizing: content-box;
    width: 100%;

    cursor: default;

    border: 0;
    outline: 0;
    background: none;
    box-shadow: none;;
}

.ng-select .ng-select-container .ng-value-container .ng-input > input::-ms-clear {
    display: none;
}

.ng-select .ng-select-container .ng-value-container .ng-input > input[readonly] {
    width: 0;
    padding: 0;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;;
}

.ng-select.ng-select-single.ng-select-filtered .ng-select-container .ng-value-container .ng-value {
    visibility: hidden;
}

.ng-select.ng-select-single .ng-select-container .ng-value-container,
.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-value {
    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;
}

.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-value .ng-value-icon {
    display: none;
}

.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
    position: absolute;
    left: 0;

    width: 100%;
}

.ng-select.ng-select-multiple.ng-select-disabled > .ng-select-container .ng-value-container .ng-value .ng-value-icon {
    display: none;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container {
    flex-wrap: wrap;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
    white-space: nowrap;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value.ng-value-disabled .ng-value-icon {
    display: none;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon {
    cursor: pointer;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-input {
    z-index: 2;
    flex: 1;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-placeholder {
    position: absolute;
    z-index: 1;
}

.ng-select .ng-clear-wrapper {
    position: relative;

    width: 17px;

    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ng-select .ng-clear-wrapper .ng-clear {
    font-size: var(--ng-font-size);
    line-height: 1;

    display: inline-block;

    pointer-events: none;
}

.ng-select .ng-spinner-loader {
    font-size: var(--ng-spinner-font-size);

    position: relative;

    width: 17px;
    height: 17px;
    margin-right: 5px;

    transform: translateZ(0);
    -webkit-animation: .8s linear infinite load8;
    animation: .8s linear infinite load8;
    text-indent: -9999em;

    border-top: 2px solid rgba(66, 66, 66, .2);
    border-right: 2px solid rgba(66, 66, 66, .2);
    border-bottom: 2px solid rgba(66, 66, 66, .2);
    border-left: 2px solid #424242;
    border-radius: 50%;;
}

.ng-select .ng-spinner-loader:after {
    width: 17px;
    height: 17px;

    border-radius: 50%;;
}

@-webkit-keyframes load8 {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes load8 {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.ng-select .ng-arrow-wrapper {
    position: relative;

    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;;
}

.ng-select .ng-arrow-wrapper .ng-arrow {
    position: relative;

    display: inline-block;

    width: 0;
    height: 0;

    pointer-events: none;;
}

.ng-dropdown-panel {
    position: absolute;
    z-index: 1050;

    box-sizing: border-box;
    width: 100%;

    opacity: 0;

    -webkit-overflow-scrolling: touch;
}

.ng-dropdown-panel .ng-dropdown-panel-items {
    display: block;
    overflow-y: auto;

    box-sizing: border-box;
    height: auto;
    max-height: 240px;;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup {
    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: var(--ng-dropdown-panel-items-optgroup-background);
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
    display: block;
    overflow: hidden;

    box-sizing: border-box;

    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option .highlighted {
    font-weight: 700;

    text-decoration: underline;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.disabled {
    cursor: default;
}

.ng-dropdown-panel .scroll-host {
    position: relative;

    display: block;
    overflow: hidden;
    overflow-y: auto;

    -webkit-overflow-scrolling: touch;
}

.ng-dropdown-panel .scrollable-content {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;;
}

.ng-dropdown-panel .total-padding {
    width: 1px;

    opacity: 0;
}

.ng-select.ng-select-opened > .ng-select-container {
    border-color: #b3b2b2 #ccc #d9d9d9;
    background: var(--ng-select-container-opened-background);
}

.ng-select.ng-select-opened > .ng-select-container:hover {
    box-shadow: none;
}

.ng-select.ng-select-opened > .ng-select-container .ng-arrow {
    top: -2px;

    border-width: 0 5px 5px;
    border-color: transparent transparent #999;
}

.ng-select.ng-select-opened > .ng-select-container .ng-arrow:hover {
    border-color: transparent transparent #333;
}

.ng-select.ng-select-opened.ng-select-bottom > .ng-select-container {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.ng-select.ng-select-opened.ng-select-top > .ng-select-container {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.ng-select.ng-select-focused:not(.ng-select-opened) > .ng-select-container {
    border-color: #007eff;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 0 3px rgba(0, 126, 255, .1);
}

.ng-select.ng-select-disabled > .ng-select-container {
    background-color: var(--ng-select-disabled-background-color);
}

.ng-select .ng-has-value .ng-placeholder {
    display: none;
}

.ng-select .ng-select-container {
    min-height: 36px;

    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: var(--ng-select-container-background-color);

    align-items: center;
}

.ng-select .ng-select-container:hover {
    box-shadow: 0 1px 0 rgba(0, 0, 0, .06);
}

.ng-select .ng-select-container .ng-value-container {
    padding-left: 10px;

    align-items: center;
}

[dir='rtl'] .ng-select .ng-select-container .ng-value-container {
    padding-right: 10px;
    padding-left: 0;
}

.ng-select .ng-select-container .ng-value-container .ng-placeholder {
    color: var(--ng-select-container-placeholder-color);
}

.ng-select.ng-select-single .ng-select-container {
    height: 36px;
}

.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
    top: 5px;
    left: 0;

    padding-right: 50px;
    padding-left: 10px;
}

[dir='rtl'] .ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
    padding-right: 10px;
    padding-left: 50px;
}

.ng-select.ng-select-multiple.ng-select-disabled > .ng-select-container .ng-value-container .ng-value {
    border: 1px solid #e6e5e5;
    background-color: var(--ng-select-multiple-disabled-background-color);
}

.ng-select.ng-select-multiple.ng-select-disabled > .ng-select-container .ng-value-container .ng-value .ng-value-label {
    padding: 0 5px;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container {
    padding-top: 5px;
    padding-left: 7px;
}

[dir='rtl'] .ng-select.ng-select-multiple .ng-select-container .ng-value-container {
    padding-right: 7px;
    padding-left: 0;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
    font-size: .9em;

    margin-right: 5px;
    margin-bottom: 5px;

    border-radius: 2px;
    background-color: var(--ng-select-multiple-value-background-color);
}

[dir='rtl'] .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
    margin-right: 0;
    margin-left: 5px;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value.ng-value-disabled {
    background-color: var(--ng-select-multiple-value-disabled-background-color);
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value.ng-value-disabled .ng-value-label {
    padding-left: 5px;
}

[dir='rtl'] .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value.ng-value-disabled .ng-value-label {
    padding-right: 5px;
    padding-left: 0;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-label {
    display: inline-block;

    padding: 1px 5px;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon {
    display: inline-block;

    padding: 1px 5px;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon:hover {
    background-color: var(--ng-select-multiple-value-hover-background-color);
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon.left {
    border-right: 1px solid #b8dbff;
}

[dir='rtl'] .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon.left {
    border-right: none;
    border-left: 1px solid #b8dbff;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon.right {
    border-left: 1px solid #b8dbff;
}

[dir='rtl'] .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon.right {
    border-right: 1px solid #b8dbff;
    border-left: 0;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-input {
    padding: 0 0 3px 3px;
}

[dir='rtl'] .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-input {
    padding: 0 3px 3px 0;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-placeholder {
    top: 5px;

    padding-bottom: 5px;
    padding-left: 3px;
}

[dir='rtl'] .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-placeholder {
    padding-right: 3px;
    padding-left: 0;
}

.ng-select .ng-clear-wrapper {
    color: var(--ng-select-clear-color);
}

.ng-select .ng-clear-wrapper:hover .ng-clear {
    color: var(--ng-select-clear-color-wrapper);
}

.ng-select .ng-spinner-zone {
    padding: 5px 5px 0 0;
}

[dir='rtl'] .ng-select .ng-spinner-zone {
    padding: 5px 0 0 5px;
}

.ng-select .ng-arrow-wrapper {
    width: 25px;
    padding-right: 5px;
}

[dir='rtl'] .ng-select .ng-arrow-wrapper {
    padding-right: 0;
    padding-left: 5px;
}

.ng-select .ng-arrow-wrapper:hover .ng-arrow {
    border-top-color: #666;
}

.ng-select .ng-arrow-wrapper .ng-arrow {
    border-width: 5px 5px 2.5px;
    border-style: solid;
    border-color: #999 transparent transparent;
}

.ng-dropdown-panel {
    left: 0;

    border: 1px solid #ccc;
    background-color: var(----ng-select-dropdown-panel-background-color);
    box-shadow: 0 1px 0 rgba(0, 0, 0, .06);
}

.ng-dropdown-panel.ng-select-bottom {
    top: 100%;

    margin-top: -1px;

    border-top-color: #e6e5e5;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.ng-dropdown-panel.ng-select-bottom .ng-dropdown-panel-items .ng-option:last-child {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.ng-dropdown-panel.ng-select-top {
    bottom: 100%;

    margin-bottom: -1px;

    border-bottom-color: #e6e5e5;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.ng-dropdown-panel.ng-select-top .ng-dropdown-panel-items .ng-option:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.ng-dropdown-panel .ng-dropdown-header {
    padding: 5px 7px;

    border-bottom: 1px solid #ccc;
}

.ng-dropdown-panel .ng-dropdown-footer {
    padding: 5px 7px;

    border-top: 1px solid #ccc;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup {
    font-weight: 500;

    padding: 8px 10px;

    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    color: var(--ng-select-optgroup-color);
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup.ng-option-disabled {
    cursor: default;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup.ng-option-marked {
    background-color: var(--ng-select-option-marked-background-color);
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup.ng-option-selected,
.ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup.ng-option-selected.ng-option-marked {
    font-weight: 600;

    background-color: var(--ng-select-selected-marked-background-color);
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
    padding: 8px 10px;

    color: var(--ng-select-option-color);
    background-color: var(--ng-select-dropdown-items-background-color);
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected,
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected.ng-option-marked {
    color: var(--ng-select-dropdown-items-down-color);
    background-color: var(--ng-select-dropdown-items-down-background-color);
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected .ng-option-label,
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected.ng-option-marked .ng-option-label {
    font-weight: 600;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
    color: var(--ng-select-dropdown-items-down-marked-color);
    background-color: var(--ng-select-dropdown-items-down-marked-background-color);
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-disabled {
    color: var(--ng-select-option-disabled-color);
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-child {
    padding-left: 22px;
}

[dir='rtl'] .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-child {
    padding-right: 22px;
    padding-left: 0;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option .ng-tag-label {
    font-size: 80%;
    font-weight: 400;

    padding-right: 5px;
}

[dir='rtl'] .ng-dropdown-panel .ng-dropdown-panel-items .ng-option .ng-tag-label {
    padding-right: 0;
    padding-left: 5px;
}

[dir='rtl'] .ng-dropdown-panel {
    text-align: right;

    direction: rtl;
}

.ng-select {
    font: var(--ng-select-font);

    width: 100%;
    margin: 0;

    .ng-select-container {
        min-height: 30px;

        color: var(--ng-select-select-container-color);
        border: 1px solid #c7c9db;
        border-radius: 2px;
        outline: none;
        box-shadow: none;
    }

    .ng-arrow-wrapper {
        display: flex;

        box-sizing: border-box;
        height: 100%;
        padding: 0;

        border-left: 1px solid #c7c9db;

        align-items: center;
        justify-content: center;

        & .ng-arrow {
            margin: 3px 0 0;

            border-color: rgba(#afb1c1, .5) transparent transparent;
        }
    }
}

.ng-select.ng-select-single .ng-select-container {
    height: 30px;
}

.ng-select.ng-select-opened > .ng-select-container {
    border-color: #9fa4ca #9fa4ca #9fa4ca;
    background: var(--ng-select-opened-container-background);
}

.ng-select.ng-select-focused:not(.ng-select-opened) > .ng-select-container {
    border-color: #9fa4ca;
    box-shadow: none;
}

.ng-select.ng-select-opened > .ng-select-container .ng-arrow {
    top: -2px;

    border-width: 0 5px 5px;
    border-color: transparent transparent rgba(#afb1c1, .5);;
}

.ng-select.ng-select-opened > .ng-select-container .ng-arrow-wrapper {
    border-color: #9fa4ca;
}

.ng-select.ng-select-focused:not(.ng-select-opened) .ng-arrow-wrapper {
    border-color: #9fa4ca;
}

.ng-select.ng-select-opened > .ng-select-container .ng-arrow:hover {
    border-color: transparent transparent rgba(#afb1c1, .5);
}

.ng-select .ng-arrow-wrapper:hover .ng-arrow {
    border-top-color: rgba(#afb1c1, .5);
}

.ng-dropdown-panel {
    border: 1px solid #9fa4ca;
    box-shadow: none;
}

.ng-select .ng-select-container:hover {
    box-shadow: none;
}

.ng-dropdown-panel.ng-select-bottom .scroll-host {
    border-radius: 0 0 4px 4px;
}

.ng-dropdown-panel.ng-select-bottom {
    border-top-color: #9fa4ca;
}

.ng-dropdown-panel.ng-select-top {
    border-bottom-color: #9fa4ca;;
}

.ng-dropdown-panel.ng-select-top .scroll-host {
    border-radius: 4px 4px 0 0;
}

.ng-dropdown-panel .ng-dropdown-panel-items {
    color: var(--ng-dropdown-panel-items-color);
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
    color: var(--ng-dropdown-panel-items-marked-color);
    background-color: var(--ng-dropdown-panel-items-marked-background);
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected,
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected.ng-option-marked {
    color: var(--ng-selected-marked-color);
    background-color: var(--ng-selected-marked-background);
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
    color: var(--ng-option-color);
}

@mixin ngs-checkbox {
    position: relative;
    display: inline-block;
    width: 18px;
    min-width: 18px;
    height: 18px;
    cursor: pointer;
    font: normal 14px/22px FuturaRound;
    color: #000;
    text-align: left;
    border: 1px solid #c7c9db;
    border-radius: 2px;
    background: #fff;
    margin-right: 8px;

    &:focus {
        outline: none;
    }
}

@mixin ngs-checkbox-selected {
    position: absolute;
    top: 22%;
    left: 17%;
    display: block;
    width: 12px;
    height: 9px;
    content: '';
    transition: all .3s ease;
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    background: transparent url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSI5Ij48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGZpbGw9IiM3RjdGN0YiIGQ9Ik0xMS4wMDEgMS41NDdsLS45MTItLjkxMUM5Ljk2NC41MTIgOS44MTMuNDQ5IDkuNjM1LjQ0OWMtLjE4IDAtLjMzMS4wNjMtLjQ1Ny4xODdsLTQuMzkyIDQuNC0xLjk2OS0xLjk3NWMtLjEyNS0uMTI2LS4yNzctLjE4OC0uNDU1LS4xODgtLjE3OSAwLS4zMzEuMDYyLS40NTYuMTg4bC0uOTExLjkxYy0uMTI0LjEyNS0uMTg3LjI3Ny0uMTg3LjQ1NnMuMDYzLjMzLjE4Ny40NTVMMy40MiA3LjMwNmwuOTExLjkxMWMuMTI0LjEyNS4yNzYuMTg3LjQ1NS4xODcuMTc4IDAgLjMzLS4wNjIuNDU1LS4xODdsLjkxLS45MTEgNC44NS00Ljg0OGMuMTI0LS4xMjUuMTg3LS4yNzcuMTg3LS40NTUgMC0uMTc5LS4wNjMtLjMzMS0uMTg3LS40NTZ6Ii8+PC9zdmc+) left top no-repeat;
    background-size: 100% auto;
}

@mixin ngs-option {
    display: flex;
    align-items: center;
    white-space: normal;
    overflow: hidden;
    text-overflow: initial;
}

.ng-select.ng-select-multiple {
    .ng-select-container {
        height: 30px;

        .ng-value-container {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            .choose-plsh {
                margin-top: -6px;
                padding-left: 3px;
            }

            .ng-placeholder {
                color: var(--ng-select-multiple-container-color);
                top: auto;
                padding-bottom: 6px;
            }

            .ng-value {
                font-size: 1em;
                border-radius: 0;
                background-color: transparent;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                .ng-value-label {
                    display: initial;
                    padding: 0;
                }

                .ng-value-icon {
                    padding: 1px 2px;
                }
            }

            .ng-input {
                position: absolute;
                left: 0;
                width: 100%;
                z-index: -1 !important;
            }
        }
    }

    &.width136 {
        .ng-dropdown-panel {
            width: 136%;
        }
    }
}

.ng-dropdown-panel.ng-select-multiple .ng-dropdown-panel-items {
    .ng-option {
        @include ngs-option;

        input[type="checkbox"] {
            @include ngs-checkbox;
        }

        &.ng-option-selected {
            input[type="checkbox"]:after {
                @include ngs-checkbox-selected;
            }
        }
    }

    .ng-optgroup {
        @include ngs-option;

        .with-check {
            @include ngs-checkbox;
        }

        &.ng-option-selected {
            .with-check:after {
                @include ngs-checkbox-selected;
            }
        }
    }
}

.full-view {
    &, &-dd {
        .ng-dropdown-panel-items {
            .ng-option-label {
                white-space: normal;
                word-break: break-word;
            }
        }

    }

    .ng-select-container {
        .ng-value-container {
            .ng-value {
                .ng-value-label {
                    white-space: normal;
                }
            }
        }

        &.ng-has-value {
            min-height: 30px;
            height: auto;
            padding-top: 4px;
            padding-bottom: 4px;

            .ng-arrow-wrapper {
                min-height: 30px;
            }
        }
    }
}

.ng-value {
    width: 0;
    min-width: 100%;
}
