:root {
	--ngb-datepicker-font: normal 13px/1 'Arial';
	--ngb-datepicker-background: #fff;
}
:root[theme='visually_impaired_1'] {
	--ngb-datepicker-font: normal 16px/1 'Arial';
	--ngb-datepicker-background: #fff;
}
:root[theme='visually_impaired_2'] {
	--ngb-datepicker-font: normal 16px/1 'Arial';
	--ngb-datepicker-background: #000;
	--ngb-datepicker-color:#ffffff;
}

ngb-datepicker
{
  font: var(--ngb-datepicker-font);
  border-color: #c7c9db;
  background: var(--ngb-datepicker-background);
  color: var(--ngb-datepicker-color);
}

.ngb-dp-day
{
  outline: none;
}

.custom-select
{
  outline: none;
}

.ngb-dp-arrow-btn
{
  cursor: pointer;

  outline: none!important;
}
