:root {
}
:root[theme='visually_impaired_1'] {
}
:root[theme='visually_impaired_2'] {
  --organization-sidebar-color: #fff;
}
.organization
{
  &__body
  {
    display: flex;

    height: 100%;
    padding: 14px;
  }
  &__content
  {
    width: 100%;

    order: 1;
    padding: 0 0 0 30px;
  }
  &__sidebar
  {
    color:var(--organization-sidebar-color);
    width: 394px;
    display: flex;
    flex-direction: column;

    order: 0;
    flex-shrink: 0;
  }
}
