<fi-modal [id]="id" [title]="title"
           [closable]="true" #mc (closed)="onClose()">
    <label class="b-form__label b-form__label_color_blue">Поиск</label>
    <form (ngSubmit)="search(input.value)">
        <div class="b-flex b-flex_mod_indent">
            <div class="b-flex__item b-flex__item_w_100">
                <div class="b-form">
                    <input class="b-form__input b-form__input_w_100" #input>
                </div>
            </div>
            <div class="b-flex b-flex__item b-flex__item_shrink_0">
                <button class="b-button b-button_color_blue">
                    <div class="b-button__icon b-button__icon_mod_search"></div>
                    <div class="b-button__text">Поиск</div>
                </button>
                <button class="b-button b-button_color_blue" (click)="clear()" type="button"
                        style="margin-left: 10px">
                    <div class="b-button__icon b-button__icon_mod_clear"></div>
                </button>
            </div>
        </div>
    </form>
    <div class="b-indent"></div>
    <div class="organization-list" style="width:900px;height:425px;">
        <div class="organization-list__body">
            <div class="organization-list__content">
                <tree-root [nodes]="data" [options]="treeOptions" (activate)="current = true"
                           (deactivate)="current = false" #tree>
                </tree-root>
            </div>
        </div>
    </div>
    <div class="b-indent"></div>
    <div class="b-popup-nav">
        <div class="b-popup-nav__body">
            <div class="b-popup-nav__item">
                <button class="b-button" [disabled]="doneDis()" (click)="ok()">
                    <div class="b-button__icon b-button__icon_mod_ok"></div>
                    <div class="b-button__text">Сохранить</div>
                </button>
            </div>
        </div>
    </div>
</fi-modal>
