<fi-modal [id]="id" [title]="'Поиск человека'"
          [closable]="true" #mc (closed)="onClose()">
    <fi-ps-bar [model]="request" (search)="search()" (clear)="onClear()" [hasRelation]="withRelation"
               [full]="withRelation"></fi-ps-bar>
    <fi-search-result [data]="page$|async" (load)="search($event)" [current]="current" [actual]="request.actual"
                      (actualChange)="actualChanged($event)" width="1052px"
                      (rowClick)="current = $event" (rowDblclick)="accept($event)"></fi-search-result>
    <fi-action-bar [current]="current" [request]="request" (save)="accept()" [nosave]="fromMain"
                   [nocreate]="nocreate"></fi-action-bar>
</fi-modal>
<fi-load></fi-load>
