<fi-modal [id]="id" [title]="'Внимание'" clazz="b-popup_mod_confirm" #mc>
    <div class="b-popup-confirm">
        <p class="b-popup-confirm__text" [innerHTML]="mc.getData()"></p>
    </div>
    <div class="b-popup-nav b-popup-nav_align_center">
        <div class="b-popup-nav__body">
            <div class="b-popup-nav__item">
                <a class="b-button" style="background:#507eac;border-color:#507eac" (click)="mc.close()">
                    <div class="b-button__icon b-button__icon_mod_ok"></div>
                    <div class="b-button__text">Понятно</div>
                </a>
            </div>
        </div>
    </div>
</fi-modal>

