<div class="b-flex b-flex_mod_indent">
    <div class="b-form">
        <label class="b-form__label" style="width:89px">Группа<br>инвалидности*:</label>
        <ng-select [(ngModel)]="data.invalidGroupId" style="width:360px;"
                   [searchable]="false"
                   [items]="invalidGrps$|async" [disabled]="view">
        </ng-select>
    </div>
    <div class="b-form">
        <label class="b-form__label b-form__label_align_right" style="width:90px">Дата<br>установки*:</label>
        <fi-calendar [disabled]="view" [(ngModel)]="data.invDate"></fi-calendar>
    </div>
</div>
<div class="b-indent b-indent_s_15"></div>
<label class="b-form__label">Документ, устанавливающий инвалидность:</label>
<div class="b-indent b-indent_s_5"></div>
<div class="b-flex b-flex_align_between">
    <div class="b-form">
        <input class="b-form__input" [value]="data.invDoc.name||''" [disabled]="view" readonly
               style="width: 431px"/>
        <a class="b-form__icon b-form__icon_mod_book" *ngIf="!view" (click)="setDoc(data.invDoc)"></a>
        <a class="b-form__icon b-form__icon_mod_erase" *ngIf="!view" (click)="clearDoc()"
           style="margin-left: 5px"></a>
    </div>
    <div class="b-form">
        <label class="b-form__label">серия</label>
        <input class="b-form__input" style="width:82px;" [disabled]="view" [(ngModel)]="data.invDoc.series">
    </div>
    <div class="b-form">
        <label class="b-form__label">номер</label>
        <input class="b-form__input" style="width:100px;" [disabled]="view" [(ngModel)]="data.invDoc.number">
    </div>
    <div class="b-form">
        <label class="b-form__label b-form__label_align_right">дата<br>выдачи</label>
        <fi-calendar  [(ngModel)]="data.invDoc.issueDate" [disabled]="view"></fi-calendar>
    </div>
</div>
<div class="b-indent b-indent_s_10"></div>
<div class="b-form">
    <label class="b-form__label">Кем&nbsp;выдан:</label>
    <input class="b-form__input b-form__input_w_100" [value]="data.invDoc.whogive || ''" disabled
           *ngIf="view">
    <ng-select class="b-form__input_w_100" [(ngModel)]="data.invDoc.whogive"
               [typeahead]="wgInvInput$" [items]="whogiveInv$|async" *ngIf="!view">
    </ng-select>
</div>
<div class="b-indent b-indent_s_10"></div>
<div class="b-form">
    <label class="b-form__label">Причина&nbsp;инвалидности:</label>
    <ng-select class="b-form__input_w_100" [(ngModel)]="data.causeId"
               [searchable]="false"
               [items]="cause$|async" [disabled]="view">
    </ng-select>
</div>
