<fi-modal [id]="id" [title]="'Поиск организации'"
          [closable]="true" #mc (closed)="onClose()">
    <form (ngSubmit)="search(input.value)">
        <div class="b-form">
            <label class="b-form__label b-form__label_color_blue">Тип учреждения</label>
        </div>
        <div class="b-indent b-indent_s_5"></div>
        <div class="b-form">
            <fi-input-clear [width]="'868px'" [showClear]="!!orgTypeId" [value]="orgType"
                            (clear)="clearOrgType()" [disabled]="disType"></fi-input-clear>
            <a class="b-form__icon b-form__icon_mod_book" (click)="setType()" *ngIf="!disType"></a>
        </div>
        <div class="b-indent b-indent_s_10"></div>
        <div class="b-form">
            <label class="b-form__label b-form__label_color_blue">Корневой адрес</label>
        </div>
        <div class="b-indent b-indent_s_5"></div>
        <div class="b-form">
            <fi-input-clear [width]="'868px'" [showClear]="!!address" [value]="ga(address)"
                            (clear)="address = undefined" [disabled]="disAdr"></fi-input-clear>
            <a class="b-form__icon b-form__icon_mod_book" (click)="setAddress()" *ngIf="!disAdr"></a>
        </div>
        <div class="b-indent b-indent_s_10"></div>
        <div class="b-form">
            <label class="b-form__label b-form__label_color_blue">Поиск</label>
        </div>
        <div class="b-indent b-indent_s_5"></div>
        <div class="b-flex b-flex_mod_indent">
            <div class="b-flex__item b-flex__item_w_100">
                <div class="b-form">
                    <input class="b-form__input b-form__input_w_100" #input>
                </div>
            </div>
            <div class="b-flex b-flex_mod_indent-2">
                <div class="b-flex__item">
                    <button class="b-button b-button_color_blue">
                        <div class="b-button__icon b-button__icon_mod_search"></div>
                        <div class="b-button__text">Поиск</div>
                    </button>
                </div>
                <div class="b-flex__item">
                    <button class="b-button b-button_color_blue" (click)="clear()" type="button">
                        <div class="b-button__icon b-button__icon_mod_clear"></div>
                    </button>
                </div>
            </div>
        </div>
    </form>
    <div class="b-indent"></div>
    <div class="organization-list" style="width:900px;height:425px;">
        <div class="organization-list__body">
            <div class="organization-list__content">
                <tree-root [nodes]="data" [options]="treeOptions" (activate)="current = true"
                           (deactivate)="current = false" #tree>
                </tree-root>
            </div>
        </div>
    </div>
    <div class="b-indent"></div>
    <div class="b-popup-nav">
        <div class="b-popup-nav__body">
            <div class="b-popup-nav__item">
                <button class="b-button" [disabled]="doneDis()" (click)="ok()">
                    <div class="b-button__icon b-button__icon_mod_ok"></div>
                    <div class="b-button__text">Сохранить</div>
                </button>
            </div>
            <div class="b-popup-nav__item" *ngIf="!noAdd && !isSpec && catId != 8">
                <a class="b-button" [href]="adminUi" target="_blank">
                    <div class="b-button__icon b-button__icon_mod_add"></div>
                    <div class="b-button__text">Добавить</div>
                </a>
            </div>
        </div>
    </div>
</fi-modal>
