<label class="b-form__label" style="margin:0" *ngIf="label">&nbsp;</label>
<div class="b-indent b-indent_s_5" *ngIf="label"></div>
<ng-container [ngSwitch]="edit">
    <ng-container *ngSwitchCase="true">
        <ng-container [ngSwitch]="!!cur.fileName">
            <div class="user-context-menu__wrap" ngbDropdown *ngSwitchCase="true" #smtx="ngbDropdown"
                 container="body">
                <div class="b-file" ngbDropdownToggle></div>
                <div ngbDropdownMenu class="user-context-menu__body">
                    <a class="user-context-menu__item user-context-menu__item_mod_open"
                       (click)="smtx.close();sf(cur.fileName)">
                        <span>Открыть</span>
                    </a>
                    <a class="user-context-menu__item user-context-menu__item_mod_upload"
                       (click)="smtx.close();chooseFile(cur)">
                        <span>Загрузить</span>
                    </a>
                    <a class="user-context-menu__item user-context-menu__item_mod_remove"
                       (click)="smtx.close();remove(cur)">
                        <span>Удалить</span>
                    </a>
                </div>
            </div>
            <div class="b-file" (click)="chooseFile(cur)" *ngSwitchDefault></div>
        </ng-container>
    </ng-container>
    <ng-container *ngSwitchDefault>
        <div class="b-file" (click)="sf(cur.fileName)" *ngIf="cur.fileName"></div>
    </ng-container>
</ng-container>
<input type="file" style="display:none" #file>
