<div class="custody-person-search">
    <form class="custody-person-search__body" (ngSubmit)="search.emit()" name="search">
        <div class="custody-person-search__item" *ngIf="hasRelation">
            <label class="custody-person-search__label">Родственное<br>отношение</label><br>
            <div class="b-form">
                <ng-select style="width:120px" name="relativeId" [disabled]="relDisabled"
                           [ngModel]="useIds ? model.relationId : model.relativeId"
                           (change)="relationChanged($event)"
                           [searchable]="false"
                           [clearable]="false"
                           [items]="members$|async" class="full-view-dd"></ng-select>
            </div>
        </div>
        <div class="custody-person-search__item">
            <label class="custody-person-search__label">Фамилия</label><br>
            <input class="b-form__input" name="lastName" [(ngModel)]="model.lastName" style="width:158px">
        </div>
        <div class="custody-person-search__item">
            <label class="custody-person-search__label">Имя</label><br>
            <input class="b-form__input" name="firstName" [(ngModel)]="model.firstName" style="width:158px">
        </div>
        <div class="custody-person-search__item">
            <label class="custody-person-search__label">Отчество</label><br>
            <input class="b-form__input" name="middleName" [(ngModel)]="model.middleName" style="width:158px">
        </div>
        <div class="custody-person-search__item">
            <label class="custody-person-search__label">Дата рождения</label><br>
            <div class="b-form">
                <fi-calendar name="birthDate" [(ngModel)]="model.birthDate" [width]="90"></fi-calendar>
            </div>
        </div>
        <div class="custody-person-search__item">
            <label class="custody-person-search__label">СНИЛС человека</label><br>
            <input class="b-form__input" name="snils" [ngModel]="model.snils" style="width:158px"
                   (change)="snilsChanged($event)" fiMaskSnils>
        </div>
        <div class="custody-person-search__item">
            <button class="b-button b-button_color_blue custody-person-search__search">
                <div class="b-button__icon b-button__icon_mod_search"></div>
                <div class="b-button__text">Поиск</div>
            </button>
        </div>
        <div class="custody-person-search__item">
            <button class="b-button b-button_color_blue custody-person-search__search"
                    (click)="clear.emit()"
                    type="button">
                <div class="b-button__icon b-button__icon_mod_clear"></div>
            </button>
        </div>
    </form>
</div>
