.header-submenu {
    position: absolute;
    margin: 5px 0 0;

    &:not(.show) {
        display: none;
        position: initial;
    }

    &:after {
        position: absolute;
        z-index: 1;
        top: -4px;
        left: 50px;

        width: 0;
        height: 0;

        content: '';

        border-right: 5px solid transparent;
        border-bottom: 4px solid #fff;
        border-left: 5px solid transparent;
    }

    &__body {
        overflow: hidden;

        border-radius: 4px;
        background: #fff;
        // box-shadow: 1px 1px 5px 0 rgba(0,0,0,.4);
        box-shadow: -1px 1px 24px 0 rgba(0, 0, 0, .25);
    }

    &__item {
        border-top: 1px solid #c4c4c4;

        &:first-child {
            border: none;
        }

        & a {
            font: normal 13px/1 'Arial';

            display: block;

            padding: 10px 15px;

            cursor: pointer;
            transition: all .3s ease;
            text-decoration: none;

            color: #000;

            &:hover {
                background: #e1e6f4;
            }
        }
    }

    &__hr {
        border-top: 2px solid #c4c4c4;
    }
}
