:root {
    --header-height: 37px;
    --header__wrap-background: #e5e4e5;
    --header__body-padding: 5px 0;
}

:root[theme='visually_impaired_1'] {
    --header-height: 37px;
    --header__wrap-background: #f4f4f4;
    --header__body-padding: 5px 0;
}

:root[theme='visually_impaired_2'] {
    --header-height: 60px;
    --header__wrap-background: #181818;
    --header__body-padding: 10px 0;
}

.header {
    position: relative;
    z-index: 1;

    height: var(--header-height);

    flex-shrink: 0;

    &__wrap {
        position: fixed;
        top: 0;
        left: 0;

        width: 100%;
        background: var(--header__wrap-background);
    }

    &__body {
        display: flex;

        box-sizing: border-box;
        width: 1280px;
        margin: 0 auto;
        // padding: 5px 25px;
        padding: var(--header__body-padding);

        align-items: center;
        justify-content: space-between;
    }

    &__cell {
        //
    }
}
