.header-menu {
    &__body {
        font-size: 0;
        line-height: 0;

        margin: 0 -5px;
    }

    &__item {
        display: inline-block;

        margin: 0 5px;

        vertical-align: top;

        &_mod {
            &_print {
                margin-left: 20px;
            }

            &_exit {
                margin-left: 20px;
            }

            &_view-mode {
                margin-right: 15px;
            }
        }
    }
}
