:root {
    --header-title-text-color: #000;
}

:root[theme='visually_impaired_1'] {
    --header-title-text-color: #66688e;
}

:root[theme='visually_impaired_2'] {
    --header-title-text-color: #ffffff;
}

.header-title {
    &__text {
        font: normal 13px/1 'Arial';

        max-width: 200px;
        margin: 0;

        color: var(--header-title-text-color);
    }
}
