:root {
}

:root[theme='visually_impaired_1'] {
    --content-grid__content-background-color: #fff;
}

:root[theme='visually_impaired_2'] {
    --content-grid__content-background-color: #000000;
}

.content-grid {
    display: flex;

    &__sidebar {
        width: 240px;
        min-height: 1px;

        flex-shrink: 0;
        order: 1;
    }

    &__content {
        box-sizing: border-box;
        width: 100%;
        min-width: 0;
        min-height: 1px;
        padding: 0 0 14px 14px;

        order: 2;
        background-color: var(--content-grid__content-background-color);
    }

    &__wrap {
        // overflow-x: hidden;
        // overflow-y: auto;

        // max-height: 470px;
        padding: 0 14px 0 0;
    }
}
