<fi-modal [id]="id" [title]="'Подтверждение действия'"
           clazz="b-popup_mod_confirm" #mc (closed)="onClose()">
    <div class="b-popup-confirm">
        <p class="b-popup-confirm__text" [innerHTML]="msg"></p>
    </div>
    <div class="b-popup-nav b-popup-nav_align_center">
        <div class="b-popup-nav__body">
            <div class="b-popup-nav__item">
                <a class="b-button" style="background:#66ad66;border-color:#66ad66" (click)="done(true)">
                    <div class="b-button__icon b-button__icon_mod_ok"></div>
                    <div class="b-button__text">{{ok}}</div>
                </a>
            </div>
            <div class="b-popup-nav__item">
                <a class="b-button" style="background:#8c90b1;border-color:#8c90b1" (click)="done()">
                    <div class="b-button__icon b-button__icon_mod_cancel"></div>
                    <div class="b-button__text">{{no}}</div>
                </a>
            </div>
        </div>
    </div>
</fi-modal>


