fi-input-clear {
    display: block;
    position: relative;
    padding: 0;
    border-width: 0;

    .clearb {
        position: absolute;
        left: 98%;
        top: 50%;
        transform: translateY(-50%);

        > span {
            font-size: 18px;
            line-height: 1;
            pointer-events: none;
            color: #999;
        }

        &:hover {
            cursor: pointer;

            > span {
                color: #d0021b;
            }

        }
    }
}
