<ng-container *ngIf="{view: viewMode$|async} as m">
    <div class="b-indent b-indent_s_10"></div>
    <div class="b-title" [class.b-title__flex]="!m.view">
        <h2 class="b-title__text">Запросы:</h2>
        <div class="b-form">
            <ng-select name="target" [multiple]="true" [searchable]="false" [closeOnSelect]="false"
                       [items]="stypes$|async" [selectableGroup]="true" [clearable]="false"
                       [selectableGroupAsModel]="false" groupBy="novalue"
                       [placeholder]="'Выбрать'" [(ngModel)]="selectedReqs"
                       (close)="smevsSelected()" *ngIf="!m.view">
                <ng-template ng-optgroup-tmp>
                    <input id="grpit" type="checkbox"> Все запросы
                </ng-template>
                <ng-template ng-multi-label-tmp><span class="choose-plsh">Выбрать</span></ng-template>
                <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                    <input [id]="'item-' + index" type="checkbox" [ngModel]="item$.selected"
                           name="{{item.value}}"> <span>{{item.label}}</span>
                </ng-template>
            </ng-select>
        </div>
    </div>
    <fi-table [headers]="headers" wrapClass="b-table__wrap_row_6" (sort)="sort($event)" [sorts]="sorts">
        <tr class="b-table__row b-table__row_state_active" *ngFor="let r of reqs$|async; let i = index"
            (click)="setCurrent(r)"
            [class.b-table__row_state_active]="isCurrent(r)">
            <td class="b-table__cell b-table__cell_align_center">
                <p class="b-table__text">{{i + 1}}</p>
            </td>
            <td class="b-table__cell" style="width:45%">
                <p class="b-table__text">{{r.smevName}}</p>
            </td>
            <td class="b-table__cell b-table__cell_align_center">
                <p class="b-table__text">{{r.reqDate}}</p>
            </td>
            <td class="b-table__cell" style="width:10%">
                <p class="b-table__text">{{getLabel(r.statusId, 'SMEV_REQ_STATUS') | async}}</p>
            </td>
            <td class="b-table__cell b-table__cell_align_center">
                <p class="b-table__text">{{r.ansDate}}</p>
            </td>
            <td class="b-table__cell">
                <p class="b-table__text" *ngIf="m.view && r.reqDate">{{r.code}}</p>
                <div class="b-flex b-flex_mod_inline b-flex_w_100 b-flex_align_between b-flex_valign_center"
                     *ngIf="!(m.view && r.reqDate)">
                    <p class="b-table__text">{{r.code}}</p>
                    <div class="user-context-menu">
                        <div ngbDropdown class="user-context-menu__wrap" placement="bottom-right"
                             container="body" #ctxm="ngbDropdown">
                            <a class="user-context-menu__toggle" ngbDropdownToggle></a>
                            <div ngbDropdownMenu class="user-context-menu__body">
                                <a class="user-context-menu__item user-context-menu__item_mod_save"
                                   (click)="send(ctxm, r)" *ngIf="!r.reqDate"><span>Отправить</span></a>
                                <a class="user-context-menu__item user-context-menu__item_mod_copy"
                                   (click)="copy(ctxm, r)" *ngIf="!m.view"> <span>Копировать</span></a>
                                <a class="user-context-menu__item user-context-menu__item_mod_remove"
                                   (click)="remove(ctxm, i)" *ngIf="!(m.view || r.reqDate)"><span>Удалить</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr class="b-table__row" *fiEmpty="5 - ((reqs$|async)?.length || 0)">
            <td class="b-table__cell"></td>
            <td class="b-table__cell" style="width:45%"></td>
            <td class="b-table__cell"></td>
            <td class="b-table__cell" style="width:10%"></td>
            <td class="b-table__cell" *fiEmpty="2"></td>
        </tr>
    </fi-table>
    <div class="b-indent b-indent_s_40"></div>
    <ng-container *ngIf="{req: curReq$|async} as cr">
        <ng-container *ngIf="cr.req">
            <div class="b-form">
                <label class="b-form__label">Организация, в&nbsp;которую<br>направлен запрос</label>
                <input class="b-form__input" [value]="cr.req.orgName" style="width:655px" readonly [disabled]="m.view">
            </div>
            <div class="b-indent b-indent_s_25"></div>
            <div class="b-request">
                <div class="b-request__body">
                    <div class="b-request__cell">
                        <div class="b-title b-title_mod_icon">
                            <label class="b-form__label b-form__label_color_blue">Запрос:</label>
                            <div class="b-file" style="visibility: hidden"></div>
                        </div>
                        <div class="b-indent b-indent_s_5"></div>
                        <div class="b-request__cell-body" style="height: 365px">
                            <pre [innerHTML]="cr.req.request"></pre>
                        </div>
                    </div>
                    <div class="b-request__cell">
                        <div class="b-title b-title_mod_icon">
                            <label class="b-form__label b-form__label_color_blue">Ответ:</label>
                            <div class="b-file" (click)="sf(cr.req.fileName)"
                                 [style.visibility]="cr.req.fileName ? 'visible' : 'hidden'"></div>
                        </div>
                        <div class="b-indent b-indent_s_5"></div>
                        <div class="b-request__cell-body" style="height: 365px">
                            <pre [innerHTML]="cr.req.answer"></pre>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </ng-container>
</ng-container>
<ng-template #fieldsErrors let-noti="notification">
    <fi-errors [errors]="noti.message"></fi-errors>
</ng-template>
